// flex-row-direction
%flex-row-direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

// flex-column-direction
%flex-column-direction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}