@use 'base';

// Discussion titles page
.discussions-page {
  @extend %flex-column-direction;
  height: 100%;
  padding-top: 6rem;
  margin: 0 30px;

  button {
    cursor: pointer;
  }

  .discussions-container  {
    @extend %flex-column-direction;
    width: 100%;
    margin: 0 30px;

    header {
      @extend %flex-column-direction;
      margin-bottom: 10px;
      width: 100%;

      .hidden {
        display: none;
      }
      
      .discussions-controller {
        @extend %flex-row-direction;
        width: 100%;
        position: relative;

        .filter-buttons {
          width: 1000px;

          ul {
            text-align: center;
                
            li {
              float: left;
              margin: 5px 10px;
              list-style-type: none;
              cursor: pointer;
              border: 2px solid #938045;
              border-radius: 10px;
              padding: 5px;
            }

            .active {
              color: rgb(247, 195, 54);
              background: #938045;
            }
            
            .inactive {
              color: black;
              background: white;
            }
          }  
        }

        #toggle-display {
          position: absolute;
          right: 0;
          top: 0;
          font-size: 1rem;
          display: block;
          text-decoration: none;
          padding: 5px 5px;
          border-radius: 5px;          
        }
      }

      #create-discussion {
        margin: 15px 0;

        .block-loader {
          padding: 20px 0;
        }

        form {
          @extend %flex-column-direction;

          fieldset {
            border: none;
            padding: 0;
            margin: 8px 0;
            position: relative;
            width: 100%;

            legend {
              font-size: 1.6rem;
              padding-bottom: 0.3rem;
            }  
  
            input {
              width: 100%;
              height: 28px;
              color: hsl(0, 0, 20);
              padding: 5px 5px 5px 15px;
              margin-top: 10px;
              border-radius: 5px;
              font-size: 14px;
              outline: none!important;
              border: 1px solid hsla(0, 0, 0, 0.3);
              box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
              vertical-align: top;
            }

            textarea {
              resize: none;
              color: hsl(0, 0, 20);
              border: 1px solid hsla(0, 0, 0, 0.3);
              box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
            }

            label {
              padding: 1px 0 10px 10px;
            }

            button {
              font-size: 1rem;
              display: block;
              text-decoration: none;
              margin: 5px 0;
              padding: 10px 10px;
              border-radius: 5px;          
            }      
          }   

          .input-title {
            @extend %flex-column-direction;

          }

          .input-content {
            @extend %flex-column-direction;

          }
          
          .upload {
            @extend %flex-row-direction;
            margin: 0;

            #img {
              border: 2px solid black;
              cursor: pointer;
              padding: 6px 3px;
              margin-top: 5px;
            }
        
            #files {
              display: none;
            }  
          }

          .groups {
            @extend %flex-row-direction;
            
            legend {
              float: left;
            }

            select {
              padding: 0 10px;
              text-align: center;
              height: 30px;
              border: 1px outset rgba(143, 130, 19, 0.5);
              border-radius: 10px;
              outline: none;
              appearance: none;
              text-align: center;

              option {
                text-align: left;
              }
            }
          }
        }
      }
    }

    .discussions-list {
      $dark:#131325;

      .page-loader {
        z-index: 999;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
      }
      
      .card {

        .statistics {

          .trend {
            @extend %flex-row-direction;
            padding-top: 10px;
            padding-bottom: 8px;

            .amount {
              @extend %flex-row-direction;
              font-size: 0.8rem;

              p {
                padding-right: 2px;
              }
            }
            
            .rating {
              @extend %flex-row-direction;
              font-size: 0.8rem;
              
              p {
                padding-right: 2px;
              }
            }

            .time {
              @extend %flex-row-direction;
              font-size: 0.8rem;

              p {
                padding-right: 2px;
              }
            }
          }
        }
      }


      .flex-row {
        display:flex;
        flex-flow:row;
        align-items:center;
      }

      .flex-column{
        display:flex;
        flex-flow:column;
      }

      .center {
        align-items:center;
      }

      .list {
        border-radius:3px;
        overflow:hidden;
        & .card {
          cursor:pointer;
          min-width:700px;
          margin-bottom:10px;
          perspective:600px;
          transition:all 0.1s;
          & .entry {
            height:0px;
            overflow:hidden;
            width:200px;
            font-size:12px;
            color:black;
            font-weight:normal;
          }
          & .info {
            height: 80px;

            .title {
              padding-top: 5px;
              font-size: 1.4rem;
            }

            .created-by {
              @extend %flex-row-direction;
              justify-content: flex-start;
              margin: 5px 0 5px 0;
              padding-top: 6px;

              .icon {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;  
                height: 30px;
                width: 30px;  
                border-radius: 50%;
                margin-right: 5px;
              }  
            }

            & .content {
              display: none;
            }
          }
          &.open {
            padding:30px;
            height:auto;
            & .entry {
              text-align: center;
              margin: 20px 0 40px 20px;
              height:100%;
              overflow:visible;
            }
            & .info {
              height: 100px;
              align-self: self-end;
              width: 300px;

              & .title {
                display: none;
              }

              & .created-by {
                display: none;
              }

              & .content {
                height: 100%;
                overflow: hidden;
                letter-spacing: 1px;
                font-size: 0.9rem;
                display: block;
                word-wrap: break-word;
              }
            }  
            & .title-img {
              transform:rotateY( 50deg );
              box-shadow:-10px 10px 10px 2px rgba(0,0,0,.2), -2px 0px 0px 0px #888;
              transition:all 0.5s;
              transition-delay:0.05s;
            }
            & .info {
              transform:translate(0,-10px);
            }
            & .group-name {
              display: none;
            }
            & .trend {
              padding-bottom: 0;
            }
          }
          & button.simple {
            cursor:pointer;
            color:black;
            border:none;
            outline:none;
            border-radius:4px;
            background-color:#1ea94b;
            padding:15px 20px;
            font-family:'Montserrat';
            font-weight:bold;
            transition:all 0.1s;
            &:hover {
              box-shadow:0px 15px 20px -5px rgba(0,0,0,.3);
              transform:translate(0,-2px);
            }
          }
          background-color:silver;
          box-shadow:0px 2px 10px rgba(0,0,0,.2);
          overflow:hidden;
          height:110px;
          & .title-img {
            transition:all 0.5s;
            border: none;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;  
            height: 110px;
            width:120px;
            box-shadow:0px 2px 10px rgba(0,0,0,0.3);
            overflow:hidden;
          }
          & .info {
            transition:all 0.2s;
            min-width:200px;
            padding:0px 30px;
            font-family:'Montserrat';
            font-weight:bold;
            & .title {
              font-size:1em;
              color:black;
              letter-spacing:1px;
            }
            & .creator {
              font-size:12px;
              font-weight:normal;
              color:black;
            }
          }
          & .statistics {
              margin-left:auto;  
          }
          & .group-name {
            transition:all 0.1s;
            padding: 30px 20px 30px 20px;
            text-align: center;
            font-family:'Montserrat';
            color:black;
            background-color: #d9bd8a;
          }
        }

        

      }
      
    }
  }  
}




