@use 'base';

// Discussion page
.discussions-page {
  @extend %flex-column-direction;

  .discussions-container  {
    @extend %flex-column-direction;
    
    header {
      @extend %flex-column-direction;

      .discussions-controller {
        @extend %flex-row-direction;

        .filter-buttons {
          ul {
            @extend %flex-row-direction;
            
            li {
              margin: 0 10px;
              list-style-type: none;
              cursor: pointer;
              border: 1px solid black;
            }

            .active {
              color: red;
            }
            
            .inactive {
              color: black;
            }
          }  
        }
      }
    }

    .discussions-list {
      ul{
        @extend %flex-column-direction;
  
        li {
          @extend %flex-row-direction;
  
          .left-area {
            @extend %flex-column-direction;
          }
  
          .middle-area {
            @extend %flex-column-direction;
  
            .upper-bar {
              @extend %flex-row-direction;
            }
  
            .lower-bar {
              @extend %flex-row-direction;
            }
          }
  
          .right-area {
            @extend %flex-row-direction;
          }
        }
      }
    }
  }  
}




