@use 'base';

// Groups page
.hidden {
  display: none;
}

.groups-page {
  @extend %flex-column-direction;

  .group-container  {
    .create-group {
      @extend %flex-column-direction;
  
      header {
        @extend %flex-row-direction;
      }
  
  
    }
  
    .group-list {
  
      ul {
        @extend %flex-column-direction;
        list-style-type: none;
      }
    }

    .all-groups {

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        li {
          @extend %flex-row-direction;
        }
  
      }
    }
  }
}

