@use 'base';

// Omnipresent header 
.app-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  padding-top: 5px;
  
  // position: fixed;
  .left-bar {
    @extend %flex-column-direction;

    form {
      width: 100%;
      padding: 10px 10px 0 40px;

      fieldset {
        position: relative;
        height: 40px;

        svg {
          position: absolute;
          left: 2px;
          bottom: 4px;
          color: #593c1f;
          opacity: 0.3;
          z-index: 10;
        }

        input {
          margin-right: 40px;
          padding-left: 45px;
          position: relative;
          height: 100%;
          width: 90%;
          border-style: none;
          z-index: 1;
        }

        input::placeholder {
          font-size: 1.4rem;
          color:grey;
        }

        button {
          display: none;
        }
      }

      fieldset:hover {
        svg {
          opacity: 1;
        }

        input::placeholder {
          font-size: 1.4rem;
          color:black;
        }

        button {
          display: block;
          background-color: #8c5227;
          color: white;
          border: none;
          border-radius: 10%;
          height: 75%;
          position: absolute;
          z-index: 10;
          right: 4px;
          top: 5px;
          cursor: pointer;
        }

      }
    }
  }

  .middle-bar {
    @extend %flex-row-direction;
    padding: 0 100px;

    .discussions-bar {
      font-weight: 800;
      font-size: 1.5rem;
      text-align: center;
      cursor: pointer;
    }

    #icon {
      @extend %flex-row-direction;
      justify-content: center;
      align-items: center;

      img {
        height: 70px;
        width: 70px;
        cursor: pointer;
      }  
    }

    .groups-bar {
      font-weight: 800;
      font-size: 1.5rem;
      text-align: center;
      cursor: pointer;
      padding-right: 60px;
    }
  }

  .right-bar {
    @extend %flex-row-direction;
    margin-right: 60px;
    
    .user-bar {
      @extend %flex-row-direction;

      .notification-center {
        position: relative;

        ul {
          position: absolute;
          left: -35px;
          top: 40px;
          border: 1px solid rgba(116,92,61,0.22);

          #clear-all {
            @extend %flex-row-direction;
            justify-content: center;
            background-color: #e3cb81;
            cursor: pointer;
          }

          .hidden {
            display: none;
          }
  
          .show {
            @extend %flex-column-direction;
          }

          li {
            @extend %flex-row-direction;
            list-style: none;  
            padding: 10px;
            width: 100px;
          }
        }
      }

      .dropdown {
        position: relative;
  
        #dropdown-menu {
          position: absolute;
  
          .dropdown-items {
            margin: 5px;
          }

          .language-buttons {
            @extend %flex-row-direction;
          }
        }
  
        .hidden {
          display: none;
        }
  
        .show {
          @extend %flex-column-direction;
        }
      }  
    }

    .mode-bar {
      display: block;
    }
  }
}
