@use 'base';

// Omnipresent header 
.app-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 0.5px solid grey;
  
  // position: fixed;
  .left-bar {
    @extend %flex-column-direction;

    form {
      width: 100%;
      padding: 10px 10px 0 40px;

      fieldset {
        position: relative;
        height: 40px;

        svg {
          position: absolute;
          left: 2px;
          bottom: 4px;
          color: #593c1f;
          opacity: 0.3;
          z-index: 10;
        }

        input {
          margin-right: 40px;
          padding-left: 45px;
          position: relative;
          height: 100%;
          width: 90%;
          border-style: none;
          z-index: 1;
          font-size: 1.4rem;
        }

        input::placeholder {
          font-size: 1.4rem;
          color:grey;
        }

        button {
          display: none;
        }
      }

      fieldset:hover {
        svg {
          opacity: 1;
        }

        input::placeholder {
          font-size: 1.4rem;
          color:black;
        }

        button {
          display: block;
          background-color: #8c5227;
          color: white;
          border: none;
          border-radius: 10%;
          height: 75%;
          position: absolute;
          z-index: 10;
          right: 1px;
          top: 5px;
          cursor: pointer;
        }

      }
    }
  }

  .middle-bar {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 2fr 3fr;
    margin: 0 70px;

    .discussions-bar {
      font-weight: 800;
      font-size: 1.5rem;
      text-align: center;
      cursor: pointer;
      align-self: center;
      justify-self: flex-start;
    }

    #icon {
      @extend %flex-row-direction;
      justify-content: center;
      align-items: center;

      img {
        height: 70px;
        width: 70px;
        cursor: pointer;
      }  
    }

    .groups-bar {
      font-weight: 800;
      font-size: 1.5rem;
      text-align: center;
      cursor: pointer;
      align-self: center;
      justify-self: flex-end;
      padding-right: 30px;
    }
  }

  .right-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;

    .user-bar {
      grid-column: 1 / span 2;
      @extend %flex-row-direction;
      justify-content: space-evenly;

      .notification-center {
        position: relative;
        @extend %flex-column-direction;
        height: 40px;

        svg {
          color: #938045;
        }

        .hidden {
          display: none;
        }        

        ul {
          background-color: white;
          padding-top: 25px;
          position: absolute;
          left: -45px;
          top: 35px;
          border-top: none;

          #clear-all {
            @extend %flex-row-direction;
            justify-content: center;
            background-color: #e3cb81;
            cursor: pointer;
            border: none;
          }

          .hidden {
            display: none;
          }
  
          .show {
            @extend %flex-column-direction;
          }

          li {
            cursor: pointer;
            border-left: 1px solid rgba(116,92,61,0.22);
            border-right: 1px solid rgba(116,92,61,0.22);
            @extend %flex-row-direction;
            list-style: none;  
            padding: 10px;
            width: 100px;
          }

          li:last-child {
            border-bottom: 1px solid rgba(116,92,61,0.22);
          }

          li:hover {
            font-weight: 800;
          }
        }
      }

      .dropdown {
        @extend %flex-column-direction;
        position: relative;
        
        .dropbtn {
          border: none;
          border-radius: 50%;
          cursor: pointer;
          width: 37px;
          height: 37px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        #dropdown-menu {
          margin-top: 8px;
          position: absolute;
          top: 50px;
          background-color: white;
          border: 1px solid rgba(0, 0, 0, .2);

          .dropdown-items {
            text-align: center;
            @extend %flex-row-direction;
            justify-content: center;
            margin: 10px 5px;
            width: 130px;
          }

          h3 {
            width: 80px;
            text-align: center;
            padding-top: 10px;
            font-size: 1.3rem;
            padding-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          a {
            font-size: 1.7rem;
          }

          a:hover {
            color: rgb(179, 152, 4);
          }

          .language-buttons {
            @extend %flex-row-direction;
            
            button {
              cursor: pointer;
              margin: 5px;
              position: relative;
              display: inline-block;
              border-radius: 4px;
              color: black;
              text-decoration: none;
              overflow: hidden;
              font-family: "Roboto", sans-serif;
              filter: hue-rotate(0deg);
              border: 2px solid rgb(179, 152, 4);
              transition: all 0.1s linear;
            
              &:hover {
                border: 1px solid transparent;
                span {
                  position: absolute;
                  display: block;
            
                  &:nth-child(1) {
                    filter: hue-rotate(0deg);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: linear-gradient(90deg, transparent, rgb(179, 152, 4));
                    animation: animate1 1s linear infinite;
                  }
                  @keyframes animate1 {
                    0% {
                      left: -100%;
                    }
                    50%,
                    100% {
                      left: 100%;
                    }
                  }
            
                  &:nth-child(2) {
                    filter: hue-rotate(60deg);
                    top: -100%;
                    right: 0;
                    width: 3px;
                    height: 100%;
                    background: linear-gradient(180deg, transparent, rgb(179, 152, 4));
                    animation: animate2 1s linear infinite;
                    animation-delay: 0.25s;
                  }
            
                  @keyframes animate2 {
                    0% {
                      top: -100%;
                    }
                    50%,
                    100% {
                      top: 100%;
                    }
                  }
                  &:nth-child(3) {
                    filter: hue-rotate(120deg);
                    bottom: 0;
                    right: 0;
                    width: 100%;
            
                    background: linear-gradient(270deg, transparent, rgb(179, 152, 4));
                    animation: animate3 1s linear infinite;
                    animation-delay: 0.5s;
                  }
                  @keyframes animate3 {
                    0% {
                      right: -100%;
                      height: 3px;
                    }
                    50%,
                    100% {
                      height: 2px;
                      right: 100%;
                    }
                  }
            
                  &:nth-child(4) {
                    filter: hue-rotate(300deg);
                    bottom: -100%;
                    left: 0;
                    width: 3px;
                    height: 100%;
                    background: linear-gradient(360deg, transparent, rgb(179, 152, 4));
                    animation: animate4 1s linear infinite;
                    animation-delay: 0.75s;
                  }
                  @keyframes animate4 {
                    0% {
                      bottom: -100%;
                    }
                    50%,
                    100% {
                      bottom: 100%;
                    }
                  }
                }
              }
            }
          }

          #signout {
            @extend %flex-row-direction;
            justify-content: space-around;
            border: 1px solid grey;
            border-radius: 20px;
            cursor: pointer;

            svg {
              width: 20px;
              opacity: 0.6;
            }

            span {
              font-size: 0.8rem;
              opacity: 0.6;
              margin-right: 5px;
              padding-bottom: 2px;
            }
          }

          #signout:hover {
            svg {
              opacity: 1;
            }

            span {
              opacity: 1;
            }

          }
        }
  
        .hidden {
          display: none;
        }
  
        .show {
          @extend %flex-column-direction;
        }
      }  

      .gain-access {
        padding-right: 20px;
        button {
          color: grey;
          font-weight: 900;
          border: 2px solid #938045;
          border-radius: 10px;
          cursor: pointer;
          font-size: 1rem;
          opacity: 0.7;
        }

        button:hover {
          opacity: 1;
          color: black;
        }
      }
    }

    .mode-bar {
      padding-left: 10px;
      grid-column: 3 / span 1;
      display: block;
      cursor: pointer;

      svg {
        color: #938045;
      }
    }
  }
}

@media (max-width: 850px) {
  .app-header {
    grid-template-columns: 1fr 3fr 1fr;
    .left-bar{
      form {
        fieldset {
          height: 30px;

          svg {
            width: 0.5em;
            height: 0.5em;
          }

          input {
            font-size: 0.7rem;
            margin-right: 0px;
            padding-left: 25px;  
          }

          input::placeholder {
            font-size: 0.65rem;
            color:grey;
          }
  
        }

        fieldset:hover {
          input::placeholder {
            font-size: 0.65rem;
            color:black;
          }

          button {
            font-size: 0.35rem;
            height: 50%;
            top: 9px;
          }
  
        }

      }
    }

    .middle-bar {
      .discussions-bar {
        font-size: 0.9rem;
      }

      #icon {
        img {
          height: 40px;
          width: 40px;
        }  
      }

      .groups-bar {
        font-size: 0.9rem;
      }
    }

    .right-bar {
      .user-bar {
        .notification-center {
          svg {
            font-size: 1.5rem;
          }

          ul {
            padding-top: 5px;
            margin-top: 15px;
            top: 25px;
            #clear-all {
              font-size: 0.8rem;
            }

            li {
              font-size: 0.6rem;
              width: 80px;
            }
          }
        }

        .dropdown {
          .dropbtn {
            width: 27px;
            height: 27px;  
          }

          #dropdown-menu {
            top: 35px;

            .dropdown-items {
              width: 100px;
            }

            h3 {
              font-size: 1rem;
            }

            a {
              font-size: 1.4rem;
            }

            .language-buttons {
              button {
                font-size: 0.7rem;
              }
            }

            #signout {
              height: 20px;
              width: 80px;

              svg {
                width: 14px;
              }

              span {
                font-size: 0.5rem;
              }
            }
          }
        }

        .gain-access {
          button {
            font-size: 0.7rem;
          }
        }
      }

      .mode-bar {  
        svg {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .app-header {
    grid-template-columns: 1fr 1.5fr 1fr;
    padding: 2px 0;

    .left-bar{
      align-items: flex-start;
      
      form {
        padding: 0px 5px 0 5px;
        width: 80%;

        fieldset {
          height: 25px;

          svg {
            width: 0.4em;
            height: 0.4em;
            bottom: 5px;
            left: 3px;
          }

          input {
            font-size: 0.5rem;
            margin-right: 0px;
            padding-left: 20px;  
          }

          input::placeholder {
            font-size: 0.45rem;
            color:grey;
          }
  
        }

        fieldset:hover {
          input::placeholder {
            font-size: 0.65rem;
            color:black;
          }

          button {
            font-size: 0.35rem;
            height: 50%;
            top: 9px;
          }
  
        }

      }
    }

    .middle-bar {
      margin: 0;

      .discussions-bar {
        padding-left: 10px;
        font-size: 0.6rem;
      }

      #icon {
        img {
          height: 35px;
          width: 35px;
        }  
      }

      .groups-bar {
        font-size: 0.6rem;
        padding-right: 20px;
      }
    }

    .right-bar {
      .user-bar {
        .notification-center {
          svg {
            font-size: 1.5rem;
          }

          ul {
            padding-top: 5px;
            margin-top: 13px;
            top: 25px;
            #clear-all {
              font-size: 0.8rem;
            }

            li {
              font-size: 0.6rem;
              width: 80px;
            }
          }
        }

        .dropdown {
          .dropbtn {
            width: 27px;
            height: 27px;  
          }

          #dropdown-menu {
            top: 35px;

            .dropdown-items {
              width: 100px;
            }

            h3 {
              font-size: 1rem;
            }

            a {
              font-size: 1.4rem;
            }

            .language-buttons {
              button {
                font-size: 0.7rem;
              }
            }

            #signout {
              height: 20px;
              width: 80px;

              svg {
                width: 14px;
              }

              span {
                font-size: 0.5rem;
              }
            }
          }
        }

        .gain-access {
          button {
            font-size: 0.7rem;
          }
        }
      }

      .mode-bar {  
        svg {
          font-size: 1.5rem;
        }
      }
    }
  }
}
