@use 'base';

// Profile page
.hidden {
  display: none;
}

.profile-page {
  height: 100%;
  padding-top: 6rem;
  margin-top: 1rem;
  background-color: white;
  @extend %flex-column-direction;

  .profile-container {
    @extend %flex-column-direction;
    align-items: initial;
    position: relative;
    
    .upper-profile {
      @extend %flex-row-direction;
      margin: 0 5rem 2rem;
      justify-content: flex-start;

      .profile-icon {
        position: relative;
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 4rem;

        .upload {
          position: absolute;
          top: -10px;
          right: -30px;

          input {
            display: none;
          }

          label {
            cursor: pointer;
            
            svg {
              color:#5a4f2e;
            }
          }
        }
      }

      .info {
        @extend %flex-column-direction;
        margin-right: 2rem;
        padding-bottom: 10px;

        .upper-info {
          // @extend %flex-row-direction;
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: 60px minmax(70px, 1fr) 70px;
          gap: 20px;
          align-items: center;
          padding-bottom: 10px;

          h2 {
            font-size: 2rem;
          }

          .nation {
            justify-self: start;
          }
        }
  
        .lower-info {
          @extend %flex-row-direction;
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: minmax(100px, 1fr) 60px;
          position: relative;

          .groups {
            .as-creator {
              display: grid;
              grid-template-rows: auto;
              grid-template-columns: 80px minmax(80px, 1fr) 40px;
              align-items: center;
              margin-bottom: 10px;

              h5 {
                font-size: 1.3rem;
              }

              ul{
                @extend %flex-row-direction;

                li {
                  list-style: none;
                  width: 25px;
                  height: 25px;
                  border: none;
                  border-radius: 50%;
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;  
                }
              }

              span {
                @extend %flex-column-direction;
                font-size: 0.7rem;
                width:25px;
                height: 25px;
                background-color: black;
                color: rgb(197, 199, 78);
                margin-left: 5px;
              }
            }

            .as-member {
              display: grid;
              grid-template-rows: auto;
              grid-template-columns: 80px minmax(80px, 1fr) 40px;
              align-items: center;

              h5 {
                font-size: 1.3rem;
              }

              ul{
                @extend %flex-row-direction;

                li {
                  list-style: none;
                  width: 25px;
                  height: 25px;
                  border: none;
                  border-radius: 50%;
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;  
                }
              }

              span {
                @extend %flex-column-direction;
                font-size: 0.7rem;
                width:25px;
                height: 25px;
                background-color: black;
                color: rgb(197, 199, 78);
                margin-left: 5px;
              }
            }
          }

          .discussions {
            padding-left: 20px;
            position: absolute;
            top: -10px;
            right: -70px;
            font-size: 1.6rem;
            color: #685a31;

            .as-participant {
              @extend %flex-row-direction;

              p {
                padding-left: 5px;
              }
            }  
          }
        }
      }
  
      .registration {
        display: grid;
        grid-template-columns: minmax(100px, 200px);
        grid-template-rows: 60px 60px;

        margin-left: 80px;
        justify-content: space-between;
        align-items: initial;
        height: 100px;

        .change-password {
          .change-container {
            height: 100%;
            @extend %flex-row-direction;

            .toggle-show {
              width: 40px;
              height: 40px;
              border: 2px solid black;
              cursor: pointer;
            }
          }
        }

        .delete-user {
          .delete-container {
            height: 100%;
            @extend %flex-row-direction;

            .toggle-show {
              width: 40px;
              height: 40px;
              border: 2px solid black;
              cursor: pointer;

              svg {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }
  
    .lower-profile {
      @extend %flex-column-direction;
      align-items: initial;

      .title-blocks ul li{
        @extend %flex-row-direction;

        .entry {
          .fa-door-closed {
            display: block;
          }

          .fa-door-open {
            display: none;
          }
        }
        .entry:hover {
          .fa-door-closed {
            display: none;
          }

          .fa-door-open {
            display: block;
          }
        }
      }
    }
  }
}
