@use 'base';

// Profile page
.hidden {
  display: none;
}

.profile-page {
  height: 100%;
  padding-top: 6rem;
  margin-top: 3rem;
  background-color: white;
  @extend %flex-column-direction;

  .profile-container {
    @extend %flex-column-direction;
    width: 100%;
    position: relative;
    
    .upper-profile {
      @extend %flex-row-direction;
      margin: 0 1rem 1rem;
      justify-content: flex-start;
      border: 1px solid black;
      padding: 40px;

      .profile-icon {
        position: relative;
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 4rem;

        .upload {
          position: absolute;
          top: -10px;
          right: -30px;

          input {
            display: none;
          }

          label {
            cursor: pointer;
            
            svg {
              color:#38311d;
            }
          }
        }
      }

      .info {
        @extend %flex-column-direction;
        margin-right: 2rem;
        padding-bottom: 10px;

        .upper-info {
          // @extend %flex-row-direction;
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: 60px minmax(70px, 1fr) 70px;
          gap: 20px;
          align-items: center;
          padding-bottom: 15px;

          h2 {
            font-size: 2rem;
          }

          .nation {
            justify-self: start;
          }
        }
  
        .lower-info {
          @extend %flex-row-direction;
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: minmax(100px, 1fr) 60px;
          position: relative;
          width: 100%;
          
          .groups {
            .as-creator {
              display: grid;
              grid-template-rows: auto;
              grid-template-columns: 80px minmax(90px, 1fr) 40px;
              align-items: center;
              margin-bottom: 10px;

              h5 {
                font-size: 1.3rem;
              }

              ul{
                @extend %flex-row-direction;

                li {
                  list-style: none;
                  width: 25px;
                  height: 25px;
                  border: none;
                  border-radius: 50%;
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;  
                }
              }

              span {
                @extend %flex-column-direction;
                font-size: 0.7rem;
                width:25px;
                height: 25px;
                border: 2px solid black;
                color: black;
                margin-left: 5px;
              }
            }

            .as-member {
              display: grid;
              grid-template-rows: auto;
              grid-template-columns: 80px minmax(90px, 1fr) 40px;
              align-items: center;

              h5 {
                font-size: 1.3rem;
              }

              ul{
                @extend %flex-row-direction;

                li {
                  list-style: none;
                  width: 25px;
                  height: 25px;
                  border: none;
                  border-radius: 50%;
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;  
                }
              }

              span {
                @extend %flex-column-direction;
                font-size: 0.7rem;
                width:25px;
                height: 25px;
                border: 2px solid black;
                color: black;
                margin-left: 5px;
              }
            }
          }

          .discussions {
            padding-left: 20px;
            position: absolute;
            top: -10px;
            right: -50px;
            font-size: 1.6rem;
            color: #3b382c;

            .as-participant {
              @extend %flex-row-direction;

              p {
                padding-left: 5px;
              }
            }  
          }
        }
      }
  
      .registration {
        display: grid;
        grid-template-columns: minmax(100px, 200px);
        grid-template-rows: 60px 60px;
        margin-bottom: 10px;
        margin-left: 60px;
        justify-content: space-between;
        align-items: initial;
        height: 100px;

        .change-password {
          .change-container {
            height: 100%;
            @extend %flex-row-direction;

            .toggle-show {
              width: 38px;
              height: 38px;
              border: 2px solid black;
              cursor: pointer;
            }

            .hidden {
              display: none;
            }

            form {
              margin: 40px 0 0 30px;
              @extend %flex-column-direction;
              
              fieldset {
                @extend %flex-column-direction;
                border: none;
                padding: 0;
                margin: 8px 0;
                position: relative;
                width: 100%;
      
                legend {
                  padding-left: 7px;
                  font-size: 0.8rem;
                }

                input {
                  width: 100%;
                  height: 18px;
                  color: hsl(0, 0, 20);
                  padding: 5px 0 5px 15px;
                  margin-top: 10px;
                  border-radius: 5px;
                  font-size: 14px;
                  outline: none!important;
                  border: 1px solid hsla(0, 0, 0, 0.3);
                  box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
                  vertical-align: top;
                }
            
                button {
                  font-size: 0.8rem;
                  display: block;
                  text-decoration: none;
                  margin: 5px 0;
                  padding: 5px 5px;
                  border-radius: 5px;          
                }      
              }      
            }
          }
        }

        .delete-user {
          .delete-container {
            height: 100%;
            @extend %flex-row-direction;

            .toggle-show {
              width: 38px;
              height: 38px;
              border: 2px solid black;
              cursor: pointer;

              svg {
                width: 30px;
                height: 30px;
              }
            }

            .hidden {
              display: none;
            }

            form {
              margin: 0 0 0 30px;
              @extend %flex-column-direction;
              
              fieldset {
                @extend %flex-column-direction;
                border: none;
                padding: 0;
                margin: 8px 0;
                position: relative;
                width: 100%;
      
                legend {
                  padding-left: 7px;
                  font-size: 0.8rem;
                }

                input {
                  width: 100%;
                  height: 18px;
                  color: hsl(0, 0, 20);
                  padding: 5px 0 5px 15px;
                  margin-top: 10px;
                  border-radius: 5px;
                  font-size: 14px;
                  outline: none!important;
                  border: 1px solid hsla(0, 0, 0, 0.3);
                  box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
                  vertical-align: top;
                }
            
                button {
                  font-size: 0.8rem;
                  display: block;
                  text-decoration: none;
                  margin: 5px 0;
                  padding: 5px 5px;
                  border-radius: 5px;          
                }      
              }      
            }        
          }
        }
      }
    }
  
    .lower-profile {
      @extend %flex-column-direction;

      $black: #1d1f20;
      $blue: #83e4e2;
      $green: #a2ed56;
      $yellow: #fddc32;
      $white: #fafafa;

      %boxshadow {
        box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
      }

      *,
      *:before,
      *:after {
        box-sizing: border-box;
      }

      ol.gradient-list {
        counter-reset: gradient-counter;
        list-style: none;
        margin: 1.75rem 0;
        padding-left: 1rem;
        > li {
          background: white;
          @extend %boxshadow;
          counter-increment: gradient-counter;
          padding: 1rem 1rem 1rem 3rem;
          position: relative;
          &::before,
          &::after {
            background: linear-gradient(135deg, $blue 0%,$green 100%);
            border-radius: 1rem 1rem 0 1rem;
            content: '';
            height: 3rem;
            left: -1rem;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 3rem;
          }
          &::before {
            align-items: flex-end;
            @extend %boxshadow;
            content: counter(gradient-counter);
            color: $black;
            display: flex;
            font: 900 1.5em/1 'Montserrat';
            justify-content: flex-end;
            padding: 0.125em 0.25em;
            z-index: 1;
          }
          @for $i from 1 through 5 {
            &:nth-child(10n+#{$i}):before {
              background: linear-gradient(135deg, rgba($green, $i * 0.2) 0%,rgba($yellow, $i * 0.2) 100%);
            }
          }
          @for $i from 6 through 10 {
            &:nth-child(10n+#{$i}):before {
              background: linear-gradient(135deg, rgba($green, 1 - (($i - 5) * 0.2)) 0%,rgba($yellow, 1 - (($i - 5) * 0.2)) 100%);
            }
          }
          + li {
            margin-top: 2rem;
          }
        }
      }

      .title-blocks ol li{
        @extend %flex-row-direction;
        font-family: "Raleway", sans-serif;

        .title {
          @extend %flex-row-direction;

          .img {
            display: block;
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;  
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;  
          }

          >h1 {
            margin-left: 15px;
            margin-right: 10px;
          }
  
        }

        .entry {

          button {
            border: none;
            cursor: pointer;
          }

          .fa-door-closed {
            display: block;
          }

          .fa-door-open {
            display: none;
          }
        }
        .entry:hover {
          .fa-door-closed {
            display: none;
          }

          .fa-door-open {
            display: block;
          }
        }
      }
    }
  }
}
