@use 'base';

// Search result page
.search-result-page {
  @extend %flex-row-direction;
  align-items: inherit;
  height: 100%;
  padding: 7rem 6rem 0 3rem;

  .search-history {
    @extend %flex-column-direction;
    justify-content: flex-start;

    h2 {
      font-size: 2rem;
      height: 60px;
      text-decoration: underline;
    }

    ul {
      @extend %flex-column-direction;
      width: 80%;

      li {
        @extend %flex-row-direction;
        list-style: none;
        width: 80%;
        padding: 8px;
        font-size: 1.4rem;

        .delete-history {
          border: none;
          color: grey;
          cursor: pointer;
        }

        .delete-history:hover {
          color: black;
        }
      }
    }
  }

  .titles {
    @extend %flex-column-direction;
    justify-content: flex-start;
    
    h2 {
      font-size: 2rem;
      height: 60px;
      text-decoration: underline;
    }

    ul {
      @extend %flex-column-direction;

      li {
        @extend %flex-row-direction;
        list-style: none;
        font-size: 1.3rem;
        margin: 5px 0;
        padding: 10px 7px;
        border: 2px solid rgba(173, 161, 161, 0.836);
        border-radius: 20px;
      }
    }
  }

  .users {
    @extend %flex-column-direction;
    justify-content: flex-start;

    h2 {
      font-size: 2rem;
      height: 60px;
      text-decoration: underline;
    }

    ul {
      @extend %flex-column-direction;

      li {
        @extend %flex-row-direction;
        list-style: none;
        font-size: 1.8rem;
        margin: 5px 0;
        font-size: 2rem;
        font-weight: 800;
      }
    }
  }
}

@media (max-width: 850px) {
  .search-result-page {
    padding: 4rem 3rem 0 2rem;

    .search-history {
      h2 {
        font-size: 1rem;
        height: 30px;
      }

      ul {
        width: 50%;

        li {
          font-size: 0.8rem;

          button {
            font-size: 0.7rem;
          }
        }
      }
    }

    .titles {
      h2 {
        font-size: 1rem;
        height: 30px;
      }

      ul {
        li {
          font-size: 0.8rem;
        }
      }
    }

    .users {
      h2 {
        font-size: 1rem;
        height: 30px;
      }

      ul {
        li {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .search-result-page {
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    padding: 0;

    .search-history {
      margin-top: 20px;

      h2 {
        font-size: 20px;
        height: 30px;
        margin-bottom: 0;
      }

      ul {
        width: 300px;
        min-height: 40px;
        flex-direction: row;
        justify-content: center;

        li {
          width: unset;
          font-size: 9px;
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: auto;

          a {
            grid-row: 2/span 1;
            border: 1px solid gray;
            border-radius: 30px;
            padding: 7px;
          }

          button {
            grid-row: 1/span 1;
            font-size: 11px;
          }
        }
      }
    }

    .titles {
      margin: 10px 0;

      h2 {
        font-size: 20px;
        height: 30px;
      }

      ul {
        li {
          font-size: 0.8rem;
        }
      }
    }

    .users {
      h2 {
        font-size: 20px;
        height: 30px;
      }

      ul {
        li {
          font-size: 14px;
        }
      }
    }
  }
}