@use 'base';

// Share buttons
.btn {
  display: block;
  background: hsl(59, 76%, 71%);
  color: hsl(0, 0, 100);
  text-decoration: none;
  margin: 20px 0;
  padding: 20px 15px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
    box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0), 0 3px 3px hsla(0, 0, 0, .2);
    border-radius: 5px;
  }
  
  &:hover::after {
    background: hsla(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0.2);
  }
}

.btn-social {
  padding-left: 64px;
  position: relative;
  z-index: 1;
  
  .fa {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 100%;
    text-align: center;
    background: hsla(0, 0, 0, 0.1);
    line-height: 3.2;
    border-radius: 5px 0 0 5px;
  }
  
}
.facebook-share-btn {
  background-color: hsl(221, 44%, 41%);
}
.twitter-share-btn {
  background-color: hsl(206, 82%, 63%);
}
.pinterest-share-btn {
  background-color: hsl(7, 71%, 55%); 
}
.linkedin-share-btn {
  background-color: hsl(196, 100%, 43%);
}

// Signup page
.signup-page {
  @extend %flex-column-direction;
  height: 100%;
  padding-top: 8rem;

  .page-loader {
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  .signup-container {
    @extend %flex-row-direction;
    justify-content: center;
    align-items:flex-start;
    width: 800px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.5);
    
    .signup-connect {
      @extend %flex-column-direction;
      align-items: flex-start;
      background: linear-gradient(134deg, #fbce50, #e08106);
      color: white;
      padding: 30px 30px;
      margin: 30px 40px 30px 0;

      button {
        min-width: 250px;
      }
    }

    .signup-classic {
      margin: 20px 0 5px 0;
      form {
        @extend %flex-column-direction;
        
        fieldset {
          border: none;
          padding: 0;
          margin: 8px 0;
          position: relative;
          width: 100%;

          input {
            width: 100%;
            height: 28px;
            color: hsl(0, 0, 20);
            padding: 5px 5px 5px 15px;
            margin-top: 10px;
            border-radius: 5px;
            font-size: 14px;
            outline: none!important;
            border: 1px solid hsla(0, 0, 0, 0.3);
            box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
            vertical-align: top;
          }
      
          label {
            padding: 1px 0 10px 10px;
          }
      
          .materials {
            position: absolute;
            right: -15px;
            bottom: 8px
          }
        }
      
        legend {
          font-size: 1.7rem;
          padding-bottom: 0.3rem;
        }

        .name {
          font-size: 1.1rem;
  
        }
  
        .password {
          font-size: 1.1rem;
  
          #toggle-visibility {
            cursor: pointer;
          }
        }
  
        .info {
          @extend %flex-row-direction;
          justify-content: space-around;
          font-size: 1.1rem;
          margin-left: 30px;

          .gender {
            @extend %flex-row-direction;

            label {
              padding: 0;
            }

            input {
              width: 15px;
              height: 15px;
              margin-right: 14px;
            }
          }

          .all-nations {
            margin-left: 5px;

            select {
              height: 30px;
              border: 1px outset rgba(0, 0, 0, 0.5);
              border-radius: 10px;
              outline: none;
              appearance: none;
              text-align: center;
            }
          }
        }
  
        .recaptcha {
          width: 100%;
          @extend %flex-column-direction;

        }
  
        .buttons {
          @extend %flex-row-direction;
          justify-content: space-around;
          button {
            font-size: 1rem;
            display: block;
            text-decoration: none;
            margin: 5px 0;
            padding: 10px 10px;
            border-radius: 5px;          
          }

          .reset-button {
            background-color: #3c3636;
            color: white;
            cursor: pointer;
          }

          .submit-button {
            background-color: white;
            color: #3c3636;
            cursor: pointer;
          }

          .submit-button:disabled {
            opacity: 0.5;
            cursor: default;
          }
        }
      }
    }
  }
}


// Login page
.login-page {
  @extend %flex-column-direction;
  height: 100%;
  padding-top: 10rem;

  .page-loader {
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  
  .login-container {
    @extend %flex-row-direction;
    width: 800px;

    .instruction {
      @extend %flex-column-direction;
      height: 100%;
      width: 40%;

      h1 {
        font-size: 4rem;
        font-weight: 900;
        margin: 50px 40px 60px;
      }

      p {
        width: 60%;
        color: #999;
        font-size: 0.7rem;
        line-height: 1.5;
        margin: 30px;
      }
    }

    .action {
      
      form {
        @extend %flex-column-direction;
        
        fieldset {
          @extend %flex-row-direction;
          border: none;
          padding: 0;
          margin: 8px 0;
          position: relative;
          width: 100%;

          input {
            width: 100%;
            height: 28px;
            color: hsl(0, 0, 20);
            padding: 5px 5px 5px 15px;
            margin-top: 10px;
            border-radius: 5px;
            font-size: 14px;
            outline: none!important;
            border: 1px solid hsla(0, 0, 0, 0.3);
            box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
            vertical-align: top;
          }
      
          label {
            padding: 10px 20px 0 0;
          }
        }

        .password {
          label {
            padding-right: 25px;
          }
        }

        .recaptcha {
          padding-left: 30px;
        }

        .buttons {
          @extend %flex-row-direction;
          justify-content: space-around;
          
          button {
            font-size: 1rem;
            display: block;
            text-decoration: none;
            margin: 5px 0;
            padding: 10px 10px;
            border-radius: 5px;          
          }

          .reset-button {
            background-color: #3c3636;
            color: white;
            cursor: pointer;
          }

          .submit-button {
            background-color: white;
            color: #3c3636;
            cursor: pointer;
          }

          .submit-button:disabled {
            opacity: 0.5;
            cursor: default;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .btn {
    margin: 10px 0;
    padding: 10px 5px;
  
  }

  .signup-page {
    padding-top: 4rem;
    .signup-container {
      width: 600px;

      .signup-connect {
        padding: 35px 20px;
        margin: 10px;

        button {
          min-width: 200px;
          a {
            font-size: 0.6rem;

            svg {
              width: 30px;
            }
          }
        }
      }

      .signup-classic {
        margin: 10px 0 5px 10px;
        form {
          fieldset {
            margin: 4px 0;
  
            input {
              width: 80%;
              height: 18px;
              font-size: 8px;
            }

            .materials {
              right: 50px;
              bottom: 3px;
            }  
          }
  
          legend {
            font-size: 1.2rem;
          }

          .name {
            font-size: 0.8rem;
            padding-left: 25px;
          }
    
          .password {
            font-size: 0.8rem;
            padding-left: 25px;
          }  

          .info {
            margin-left: 10px;

            .gender {  
              label {
                font-size: 0.8rem;
              }
  
              input {
                width: 8px;
                height: 8px;
                margin-right: 10px;
              }
            } 
            
            .all-nations {
              margin-left: 0px;
              margin-right: 30px;

              select {
                font-size: 0.6rem;
                height: 20px;
              }
            }
          }

          .recaptcha {
            transform:scale(0.8);
          }
  
          .buttons {
            padding-right: 30px;

            button {
              font-size: 0.7rem;
              display: block;
              text-decoration: none;
              margin: 0;
              padding: 5px;
              border-radius: 5px;          
            }
          }
        }
      }
    }
  }

  .login-page {
    padding-top: 3rem;

    .login-container {
      width: 650px;

      .instruction {
        margin-right: 30px;

        h1 {
          font-size: 3rem;
          margin: 20px 10px 30px;
        }

        p {
          font-size: 0.5rem;
        }
      }

      .action {
        form {
          fieldset {
            margin: 4px 0;

            label {
              padding: 10px 5px 0 0;
            }

            input {
              width: 60%;
              height: 18px;
              font-size: 8px;
            }
          }

          .name {
            font-size: 0.8rem;
            padding-left: 25px;
          }
    
          .password {
            label {
              padding-right: 10px;
            }  
            font-size: 0.8rem;
            padding-left: 25px;
          }  

          .recaptcha {
            transform:scale(0.8);
          }

          .buttons {
            button {
              font-size: 0.7rem;
              margin: 0;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .btn {
    margin: 10px 0;
    padding: 5px 5px;
  }

  .signup-page {
    padding-top: 0rem;
    width: 100%;
    
    .signup-container {
      width: 300px;
      height: 330px;
      position: relative;
      margin-top: 20px;

      .signup-connect {
        background: linear-gradient(134deg, #fbce50, #e08106);
        padding: 30px 10px 20px 10px;
        margin: 0px;
        border-radius: 10px 0 0 10px;
        height: 330px;
        box-sizing: border-box;
        position: absolute;
        left: 0;

        button {
          min-width: 30px;
          margin-bottom: 20px;

          a {
            height: 20px;
            font-size: 0.6rem;
            color: white;
            position: relative;

            svg {
              width: 25px;
              height: 25px;
              position: absolute;
              top: 2.5px;
              left: 2.5px;
            }

            span {
              display: none;
            }
          }
        }
      }

      .signup-classic {
        margin: 10px 0 0 0;
        position: absolute;
        right: -15px;

        form {
          width: 260px;

          fieldset {
            margin: 4px 0;
  
            input {
              width: 180px;
              padding: 3px 0px 3px 10px;
              margin-top: 0;
              height: 18px;
              font-size: 7.7px;
            }

            .materials {
              font-size: 1.3rem;
              right: 70px;
              bottom: 12px;
            }  
          }
  
          legend {
            font-size: 1rem;
          }

          .name {
            display: flex;
            flex-direction: column;
            font-size: 0.7rem;
            padding-left: 25px;
          }
    
          .password {
            display: flex;
            flex-direction: column;
            font-size: 0.7rem;
            padding-left: 25px;
          }  

          .info {
            margin: 4px 0 0 25px;

            .gender {  
              label {
                padding-bottom: 4px;
                font-size: 0.7rem;
                margin-right: 5px;
              }
  
              input {
                padding: 3px 0px 3px 5px;
                width: 8px;
                height: 8px;
                margin-right: 10px;
              }
            } 
            
            .all-nations {
              margin-left: 0px;
              margin-right: 56px;

              select {
                font-size: 0.4rem;
                height: 20px;
              }
            }
          }

          .recaptcha {
            margin: 0 20px 4px 0;
            transform: scale(0.5);
          }
  
          .buttons {
            padding-right: 30px;

            button {
              font-size: 0.8rem;
              display: block;
              text-decoration: none;
              margin: 0;
              padding: 5px;
              border-radius: 5px;          
            }
          }
        }
      }
    }
  }

  .login-page {
    padding-top: 0rem;

    .login-container {
      width: 300px;
      flex-direction: column;

      .instruction {
        margin-right: 0px;
        flex-direction: row;
        width: 100%;

        h1 {
          font-size: 45px;
          margin: 20px 10px 30px;
        }

        p {
          width: 100%;
          font-size: 8px;
          margin: 50px 10px 20px 40px;
        }
      }

      .action {
        form {
          fieldset {
            margin: 4px 0;

            label {
              font-size: 10px;
              padding: 10px 5px 0 20px;
            }

            input {
              width: 50%;
              height: 18px;
              font-size: 9px;
              padding: 3px 0px 3px 15px;
            }
          }

          .name {
            font-size: 0.9rem;
            padding-left: 0px;
            justify-content: space-around;
          }
    
          .password {
            justify-content: space-around;
            font-size: 0.9rem;
            padding-left: 0px;

            label {
              padding-right: 10px;
            }  
          }  

          .recaptcha {
            transform: scale(0.5);
          }

          .buttons {
            button {
              font-size: 0.8rem;
              margin: 0;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}


