.discussion-page .discussion-container .discussion-content .group, .discussion-page .discussion-container .discussion-content .title .title-body .body-header .creator, .discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container, .discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container .ternary .edit-discussion .upload, .discussion-page .discussion-container .discussion-content .title .title-body .title-buttons, .discussion-page .discussion-container .discussion-content .title .title-body .title-buttons .interaction, .discussion-page .discussion-container .discussion-content .reply-form-container, .discussion-page .discussion-container .discussion-content .reply-form-container form fieldset .reply-buttons, .discussion-page .discussion-container .discussion-content .reply-form-container form fieldset .reply-buttons .syntax-buttons, .discussion-page .discussion-container .discussion-content .reply-form-container form fieldset .reply-buttons .creation-buttons, .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-content .subdiscussion-header, .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-content .edit-form-container .ternary .edit-subdiscussion fieldset, .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-buttons, .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-buttons .interaction, .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-buttons .title-rating, .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container, .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset .reply-buttons, .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset .reply-buttons .syntax-buttons, .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset .reply-buttons .creation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.discussion-page .discussion-container .discussion-content .title .title-rating, .discussion-page .discussion-container .discussion-content .title .title-body, .discussion-page .discussion-container .discussion-content .title .title-body .body-header, .discussion-page .discussion-container .discussion-content .title .title-body .title-content, .discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container .ternary .edit-discussion, .discussion-page .discussion-container .discussion-content .reply-form-container form, .discussion-page .discussion-container .discussion-content .subdiscussion-container ul, .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-content .edit-form-container .ternary .edit-subdiscussion, .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container, .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discussion-page {
  height: 100%;
  padding-top: 5rem;
}
.discussion-page button {
  cursor: pointer;
}
.discussion-page button:disabled {
  cursor: default;
  color: grey;
}
.discussion-page .hidden {
  display: none;
}
.discussion-page .discussion-container .page-loader {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.discussion-page .discussion-container .discussion-content .group {
  padding: 10px 40px;
  margin-bottom: 10px;
  background-color: #ac9a37;
}
.discussion-page .discussion-container .discussion-content .group .group-symbol {
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  margin-top: 0.5rem;
  border-radius: 50%;
}
.discussion-page .discussion-container .discussion-content .group .group-name {
  font-size: 2rem;
}
.discussion-page .discussion-container .discussion-content .title {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 50px 1fr;
  justify-content: space-between;
  align-items: initial;
  padding: 10px 5px;
  margin: 0 15px;
  margin: 20px;
  box-shadow: 0 2.5rem 2rem -2rem rgba(26, 60, 77, 0.4);
  border-radius: 2ch;
  border: 2px solid #b3b3b3;
  background: white;
}
.discussion-page .discussion-container .discussion-content .title .title-rating {
  justify-content: flex-start;
}
.discussion-page .discussion-container .discussion-content .title .title-rating button {
  font-size: 1rem;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  padding: 3px 3px;
  border-radius: 5px;
}
.discussion-page .discussion-container .discussion-content .title .title-rating span {
  font-size: 1.5rem;
}
.discussion-page .discussion-container .discussion-content .title .title-body {
  justify-content: space-between;
  padding-left: 30px;
}
.discussion-page .discussion-container .discussion-content .title .title-body .body-header {
  align-self: flex-start;
}
.discussion-page .discussion-container .discussion-content .title .title-body .body-header .creator {
  cursor: pointer;
  width: 100%;
  justify-content: flex-start;
}
.discussion-page .discussion-container .discussion-content .title .title-body .body-header .creator span {
  display: inline-block;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.discussion-page .discussion-container .discussion-content .title .title-body .body-header .creator .name {
  padding: 0 15px;
  font-size: 1.3rem;
}
.discussion-page .discussion-container .discussion-content .title .title-body .body-header .creator .time {
  font-size: 0.9rem;
  color: grey;
}
.discussion-page .discussion-container .discussion-content .title .title-body .body-header .title-name {
  margin-top: 15px;
  padding-left: 5px;
  font-size: 2rem;
}
.discussion-page .discussion-container .discussion-content .title .title-body .title-content {
  padding: 20px 0 10px 0;
  width: 100%;
}
.discussion-page .discussion-container .discussion-content .title .title-body .title-content .title-img {
  width: 600px;
}
.discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container {
  margin: 30px 20px 15px 5px;
  justify-content: flex-start;
}
.discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container .ternary .edit-discussion .upload {
  margin: 0;
}
.discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container .ternary .edit-discussion .upload #img {
  border: 2px solid black;
  cursor: pointer;
  padding: 6px 3px;
  margin-top: 5px;
  margin-right: 5px;
}
.discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container .ternary .edit-discussion .upload #files {
  display: none;
}
.discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container .ternary .edit-discussion fieldset {
  border: none;
  padding: 0;
  margin: 8px 0;
  position: relative;
}
.discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container .ternary .edit-discussion fieldset textarea {
  padding: 8px;
  line-height: 1.3;
  resize: none;
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  width: 600px;
  overflow-y: hidden;
  min-height: 50px;
  border-radius: 10px;
}
.discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container .ternary .edit-discussion fieldset button {
  font-size: 1rem;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  padding: 10px 10px;
  border-radius: 5px;
}
.discussion-page .discussion-container .discussion-content .title .title-body .title-content .scripting {
  font-size: 1.4rem;
  margin: 30px 20px 15px 5px;
  word-wrap: break-word;
  max-width: 700px;
  line-height: 1.3;
  white-space: pre-line;
}
.discussion-page .discussion-container .discussion-content .title .title-body .title-buttons .interaction button {
  font-size: 1rem;
  display: block;
  text-decoration: none;
  margin: 0 18px;
  padding: 5px 5px;
  border-radius: 5px;
}
.discussion-page .discussion-container .discussion-content .reply-form-container {
  margin: 30px 20px 15px 5px;
  grid-column: 1/span 2;
  position: relative;
}
.discussion-page .discussion-container .discussion-content .reply-form-container .block-loader {
  position: absolute;
  left: 50%;
  top: 0;
}
.discussion-page .discussion-container .discussion-content .reply-form-container form {
  width: 100%;
}
.discussion-page .discussion-container .discussion-content .reply-form-container form fieldset {
  border: none;
  padding: 0;
  margin: 8px 0;
  position: relative;
}
.discussion-page .discussion-container .discussion-content .reply-form-container form fieldset textarea {
  padding: 8px;
  line-height: 1.3;
  resize: none;
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  width: 600px;
  overflow-y: hidden;
  height: 100px;
  border-radius: 10px;
}
.discussion-page .discussion-container .discussion-content .reply-form-container form fieldset .reply-buttons {
  padding: 3px 15px;
}
.discussion-page .discussion-container .discussion-content .reply-form-container form fieldset .reply-buttons .creation-buttons button {
  margin: 0 3px;
}
.discussion-page .discussion-container .discussion-content .reply-form-container form fieldset .reply-buttons button {
  cursor: pointer;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  padding: 10px 10px;
  border-radius: 5px;
}
.discussion-page .discussion-container .discussion-content .reply-form-container form fieldset .reply-buttons .syntax-buttons {
  font-size: 0.7rem;
}
.discussion-page .discussion-container .discussion-content .reply-form-container form fieldset .reply-buttons .syntax-buttons svg {
  padding: 0 7px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul {
  align-items: flex-end;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] {
  margin: 10px 10px;
  padding: 5px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-content {
  display: grid;
  grid-template-rows: 30px minmax(110px, auto) 60px auto;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0 2.5rem 2rem -2rem rgba(26, 60, 77, 0.4);
  border-radius: 2ch;
  border: 1.5px solid #b3b3b3;
  background: white;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-content .subdiscussion-header {
  cursor: pointer;
  justify-self: flex-start;
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  margin-left: 15px;
  margin-top: 10px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-content .subdiscussion-header .user-icon {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 8px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-content .subdiscussion-header .name {
  padding: 0 6px;
  font-size: 1rem;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-content .subdiscussion-header .time {
  font-size: 0.7rem;
  color: grey;
  padding-top: 2px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-content {
  grid-column: 1/span 3;
  grid-row: 2/span 1;
  word-wrap: break-word;
  overflow: hidden;
  padding: 20px 40px;
  line-height: 1.3;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-content .scripting {
  font-size: 1rem;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-content .edit-form-container .block-loader {
  padding-top: 30px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-content .edit-form-container .ternary .edit-subdiscussion fieldset {
  border: none;
  padding: 0;
  margin: 8px 0;
  position: relative;
  width: 100%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-content .edit-form-container .ternary .edit-subdiscussion fieldset textarea {
  padding: 8px;
  line-height: 1.3;
  resize: none;
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
  min-height: 100px;
  width: 80%;
  margin-right: 20px;
  border-radius: 10px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-content .edit-form-container .ternary .edit-subdiscussion fieldset button {
  cursor: pointer;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  padding: 10px 10px;
  border-radius: 5px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-buttons {
  grid-column: 1/span 3;
  grid-row: 3/span 1;
  padding: 0 30px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-buttons .interaction button {
  cursor: pointer;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  margin: 0 18px;
  padding: 5px 5px;
  border-radius: 5px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-buttons .title-rating {
  justify-content: flex-start;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-buttons .title-rating button {
  cursor: pointer;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  padding: 3px 3px;
  border-radius: 5px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-buttons .title-rating button:disabled {
  cursor: default;
  color: grey;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-buttons .title-rating span {
  padding: 0 10px;
  font-size: 1.5rem;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container {
  margin: 30px 20px 15px 5px;
  grid-column: 1/span 3;
  grid-row: 4/span 1;
  position: relative;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container .block-loader {
  padding-top: 20px;
  position: absolute;
  left: 50%;
  top: 0;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form {
  width: 100%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset {
  border: none;
  padding: 0;
  margin: 8px 0;
  position: relative;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset textarea {
  padding: 8px;
  line-height: 1.3;
  resize: none;
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  width: 600px;
  overflow-y: hidden;
  height: 80px;
  border-radius: 10px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset .reply-buttons {
  padding: 3px 15px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset .reply-buttons .creation-buttons button {
  margin: 0 3px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset .reply-buttons button {
  cursor: pointer;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  padding: 10px 10px;
  border-radius: 5px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset .reply-buttons .syntax-buttons {
  font-size: 0.7rem;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset .reply-buttons .syntax-buttons svg {
  padding: 0 7px;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-1 {
  width: 90%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-2 {
  width: 86%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-3 {
  width: 82%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-4 {
  width: 78%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-5 {
  width: 74%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-6 {
  width: 70%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-7 {
  width: 66%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-8 {
  width: 62%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-9 {
  width: 58%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-10 {
  width: 54%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-11 {
  width: 50%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-12 {
  width: 46%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-13 {
  width: 42%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-14 {
  width: 38%;
}
.discussion-page .discussion-container .discussion-content .subdiscussion-container ul .content-layer-15 {
  width: 34%;
}

@media (max-width: 850px) {
  .discussion-page {
    padding-top: 4rem;
  }
  .discussion-page .discussion-container .discussion-content .group {
    padding: 5px 20px;
  }
  .discussion-page .discussion-container .discussion-content .group .group-symbol {
    height: 30px;
    width: 30px;
    margin-top: 0;
  }
  .discussion-page .discussion-container .discussion-content .group .group-name {
    font-size: 1rem;
  }
  .discussion-page .discussion-container .discussion-content .title {
    grid-template-columns: 25px 1fr;
    padding: 8px 10px;
    margin: 10px;
  }
  .discussion-page .discussion-container .discussion-content .title .title-rating button {
    font-size: 0.5rem;
  }
  .discussion-page .discussion-container .discussion-content .title .title-rating span {
    font-size: 0.9rem;
  }
  .discussion-page .discussion-container .discussion-content .title .title-body .body-header .creator span {
    width: 28px;
    height: 28px;
  }
  .discussion-page .discussion-container .discussion-content .title .title-body .body-header .creator .name {
    font-size: 0.9rem;
  }
  .discussion-page .discussion-container .discussion-content .title .title-body .body-header .creator .time {
    font-size: 0.65rem;
  }
  .discussion-page .discussion-container .discussion-content .title .title-body .body-header .title-name {
    margin-top: 9px;
    font-size: 1.3rem;
  }
  .discussion-page .discussion-container .discussion-content .title .title-body .title-content .title-img {
    width: 300px;
  }
  .discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container {
    margin: 10px 15px 15px 5px;
  }
  .discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container .ternary .edit-discussion .upload {
    width: 300px;
  }
  .discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container .ternary .edit-discussion .upload #img {
    font-size: 0.5rem;
    margin-top: 2px;
    padding: 4px 2px;
  }
  .discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container .ternary .edit-discussion fieldset {
    margin: 4px 0;
  }
  .discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container .ternary .edit-discussion fieldset textarea {
    width: 500px;
    font-size: 0.8rem;
  }
  .discussion-page .discussion-container .discussion-content .title .title-body .title-content .edit-form-container .ternary .edit-discussion fieldset button {
    font-size: 0.5rem;
    padding: 5px;
  }
  .discussion-page .discussion-container .discussion-content .title .title-body .title-content .scripting {
    font-size: 0.8rem;
    margin: 15px 20px 5px 5px;
  }
  .discussion-page .discussion-container .discussion-content .title .title-body .title-buttons .interaction button {
    font-size: 0.5rem;
    padding: 3px;
  }
  .discussion-page .discussion-container .discussion-content .reply-form-container {
    margin: 5px 20px 5px 5px;
  }
  .discussion-page .discussion-container .discussion-content .reply-form-container form fieldset {
    margin: 3px 0;
  }
  .discussion-page .discussion-container .discussion-content .reply-form-container form fieldset textarea {
    padding: 8px;
    width: 500px;
    font-size: 0.8rem;
  }
  .discussion-page .discussion-container .discussion-content .reply-form-container form fieldset .reply-buttons button {
    font-size: 0.5rem;
    padding: 3px;
  }
  .discussion-page .discussion-container .discussion-content .reply-form-container form fieldset .reply-buttons .creation-buttons .reset {
    margin-right: 10px;
  }
  .discussion-page .discussion-container .discussion-content .reply-form-container form fieldset .reply-buttons .syntax-buttons {
    font-size: 0.4rem;
  }
  .discussion-page .discussion-container .discussion-content .reply-form-container form fieldset .reply-buttons .syntax-buttons svg {
    padding: 0 4px;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] {
    margin: 5px;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-content {
    grid-template-rows: 20px minmax(50px, auto) 30px auto;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-content .subdiscussion-header {
    margin-left: 15px;
    margin-top: 5px;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-content .subdiscussion-header .user-icon {
    height: 18px;
    width: 18px;
    margin-right: 3px;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-content .subdiscussion-header .name {
    font-size: 0.8rem;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-content .subdiscussion-header .time {
    font-size: 0.5rem;
    padding-top: 0;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-content {
    padding: 15px 20px 5px;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-content .scripting {
    font-size: 0.7rem;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-content .edit-form-container .ternary .edit-subdiscussion fieldset textarea {
    min-height: 40px;
    font-size: 0.7rem;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-content .edit-form-container .ternary .edit-subdiscussion fieldset button {
    font-size: 0.5rem;
    margin-right: 20px;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-buttons {
    padding: 0 20px 5px;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-buttons .interaction button {
    font-size: 0.4rem;
    padding: 3px;
    margin: 0 10px;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-buttons .title-rating button {
    font-size: 0.4rem;
    padding: 3px;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .subdiscussion-buttons .title-rating span {
    font-size: 0.7rem;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container {
    margin: 15px 20px 5px 5px;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset {
    margin: 3px 0;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset textarea {
    padding: 8px;
    width: 450px;
    font-size: 0.8rem;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset .reply-buttons button {
    font-size: 0.5rem;
    padding: 3px;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset .reply-buttons .creation-buttons .reset {
    margin-right: 10px;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset .reply-buttons .syntax-buttons {
    font-size: 0.4rem;
  }
  .discussion-page .discussion-container .discussion-content .subdiscussion-container ul li[class^=content-layer] .reply-form-container form fieldset .reply-buttons .syntax-buttons svg {
    padding: 0 4px;
  }
}

/*# sourceMappingURL=discussion.css.map */
