.discussions-page .discussions-container header .discussions-controller, .discussions-page .discussions-container header #create-discussion form .upload, .discussions-page .discussions-container header #create-discussion form .groups, .discussions-page .discussions-container .discussions-list ul li .first-area, .discussions-page .discussions-container .discussions-list ul li .second-area, .discussions-page .discussions-container .discussions-list ul li .third-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.discussions-page, .discussions-page .discussions-container, .discussions-page .discussions-container header, .discussions-page .discussions-container header #create-discussion form, .discussions-page .discussions-container header #create-discussion form .input-title, .discussions-page .discussions-container header #create-discussion form .input-content, .discussions-page .discussions-container .discussions-list ul, .discussions-page .discussions-container .discussions-list ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discussions-page {
  height: 100%;
  padding-top: 6rem;
  margin: 0 30px;
}
.discussions-page .discussions-container {
  width: 100%;
  margin: 0 30px;
}
.discussions-page .discussions-container header {
  margin-bottom: 10px;
  width: 100%;
}
.discussions-page .discussions-container header .discussions-controller {
  width: 100%;
}
.discussions-page .discussions-container header .discussions-controller .filter-buttons {
  width: 800px;
}
.discussions-page .discussions-container header .discussions-controller .filter-buttons ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.discussions-page .discussions-container header .discussions-controller .filter-buttons ul li {
  margin: 0 10px;
  list-style-type: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
.discussions-page .discussions-container header .discussions-controller .filter-buttons ul .active {
  color: crimson;
}
.discussions-page .discussions-container header .discussions-controller .filter-buttons ul .inactive {
  color: black;
}
.discussions-page .discussions-container header .discussions-controller #toggle-display {
  font-size: 1rem;
  display: block;
  text-decoration: none;
  padding: 5px 5px;
  border-radius: 5px;
}
.discussions-page .discussions-container header #create-discussion {
  margin: 15px 0;
}
.discussions-page .discussions-container header #create-discussion form fieldset {
  border: none;
  padding: 0;
  margin: 8px 0;
  position: relative;
  width: 100%;
}
.discussions-page .discussions-container header #create-discussion form fieldset legend {
  font-size: 1.6rem;
  padding-bottom: 0.3rem;
}
.discussions-page .discussions-container header #create-discussion form fieldset input {
  width: 100%;
  height: 28px;
  color: #333333;
  padding: 5px 5px 5px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  vertical-align: top;
}
.discussions-page .discussions-container header #create-discussion form fieldset textarea {
  resize: none;
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.discussions-page .discussions-container header #create-discussion form fieldset label {
  padding: 1px 0 10px 10px;
}
.discussions-page .discussions-container header #create-discussion form fieldset button {
  font-size: 1rem;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  padding: 10px 10px;
  border-radius: 5px;
}
.discussions-page .discussions-container header #create-discussion form .upload {
  margin: 0;
}
.discussions-page .discussions-container header #create-discussion form .upload #img {
  border: 2px solid black;
  cursor: pointer;
  padding: 6px 3px;
  margin-top: 5px;
}
.discussions-page .discussions-container header #create-discussion form .upload #files {
  display: none;
}
.discussions-page .discussions-container header #create-discussion form .groups legend {
  float: left;
}
.discussions-page .discussions-container header #create-discussion form .groups select {
  height: 30px;
  border: 1px outset rgba(143, 130, 19, 0.5);
  border-radius: 10px;
  outline: none;
  appearance: none;
  text-align: center;
}
.discussions-page .discussions-container .discussions-list ul li {
  cursor: pointer;
  border: 1px solid black;
  margin: 10px;
}

/*# sourceMappingURL=discussion-titles.css.map */
