.discussions-page .discussions-container header .discussions-controller, .discussions-page .discussions-container header #create-discussion form .upload, .discussions-page .discussions-container header #create-discussion form .groups, .discussions-page .discussions-container .discussions-list .card .statistics .trend, .discussions-page .discussions-container .discussions-list .card .statistics .trend .amount, .discussions-page .discussions-container .discussions-list .card .statistics .trend .rating, .discussions-page .discussions-container .discussions-list .card .statistics .trend .time, .discussions-page .discussions-container .discussions-list .list .card .info .created-by {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.discussions-page, .discussions-page .discussions-container, .discussions-page .discussions-container header, .discussions-page .discussions-container header #create-discussion form, .discussions-page .discussions-container header #create-discussion form .input-title, .discussions-page .discussions-container header #create-discussion form .input-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discussions-page {
  height: 100%;
  padding-top: 6rem;
  margin: 0 30px;
}
.discussions-page .discussions-container {
  width: 100%;
  margin: 0 30px;
}
.discussions-page .discussions-container header {
  margin-bottom: 10px;
  width: 100%;
}
.discussions-page .discussions-container header .hidden {
  display: none;
}
.discussions-page .discussions-container header .discussions-controller {
  width: 100%;
  position: relative;
}
.discussions-page .discussions-container header .discussions-controller .filter-buttons {
  width: 1000px;
}
.discussions-page .discussions-container header .discussions-controller .filter-buttons ul {
  text-align: center;
}
.discussions-page .discussions-container header .discussions-controller .filter-buttons ul li {
  float: left;
  margin: 5px 10px;
  list-style-type: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
.discussions-page .discussions-container header .discussions-controller .filter-buttons ul .active {
  color: crimson;
}
.discussions-page .discussions-container header .discussions-controller .filter-buttons ul .inactive {
  color: black;
}
.discussions-page .discussions-container header .discussions-controller #toggle-display {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  padding: 5px 5px;
  border-radius: 5px;
}
.discussions-page .discussions-container header #create-discussion {
  margin: 15px 0;
}
.discussions-page .discussions-container header #create-discussion form fieldset {
  border: none;
  padding: 0;
  margin: 8px 0;
  position: relative;
  width: 100%;
}
.discussions-page .discussions-container header #create-discussion form fieldset legend {
  font-size: 1.6rem;
  padding-bottom: 0.3rem;
}
.discussions-page .discussions-container header #create-discussion form fieldset input {
  width: 100%;
  height: 28px;
  color: #333333;
  padding: 5px 5px 5px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  vertical-align: top;
}
.discussions-page .discussions-container header #create-discussion form fieldset textarea {
  resize: none;
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.discussions-page .discussions-container header #create-discussion form fieldset label {
  padding: 1px 0 10px 10px;
}
.discussions-page .discussions-container header #create-discussion form fieldset button {
  font-size: 1rem;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  padding: 10px 10px;
  border-radius: 5px;
}
.discussions-page .discussions-container header #create-discussion form .upload {
  margin: 0;
}
.discussions-page .discussions-container header #create-discussion form .upload #img {
  border: 2px solid black;
  cursor: pointer;
  padding: 6px 3px;
  margin-top: 5px;
}
.discussions-page .discussions-container header #create-discussion form .upload #files {
  display: none;
}
.discussions-page .discussions-container header #create-discussion form .groups legend {
  float: left;
}
.discussions-page .discussions-container header #create-discussion form .groups select {
  height: 30px;
  border: 1px outset rgba(143, 130, 19, 0.5);
  border-radius: 10px;
  outline: none;
  appearance: none;
  text-align: center;
}
.discussions-page .discussions-container .discussions-list .card .statistics .trend {
  padding-top: 10px;
  padding-bottom: 8px;
}
.discussions-page .discussions-container .discussions-list .card .statistics .trend .amount {
  font-size: 0.8rem;
}
.discussions-page .discussions-container .discussions-list .card .statistics .trend .amount p {
  padding-right: 2px;
}
.discussions-page .discussions-container .discussions-list .card .statistics .trend .rating {
  font-size: 0.8rem;
}
.discussions-page .discussions-container .discussions-list .card .statistics .trend .rating p {
  padding-right: 2px;
}
.discussions-page .discussions-container .discussions-list .card .statistics .trend .time {
  font-size: 0.8rem;
}
.discussions-page .discussions-container .discussions-list .card .statistics .trend .time p {
  padding-right: 2px;
}
.discussions-page .discussions-container .discussions-list .flex-row {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.discussions-page .discussions-container .discussions-list .flex-column {
  display: flex;
  flex-flow: column;
}
.discussions-page .discussions-container .discussions-list .center {
  align-items: center;
}
.discussions-page .discussions-container .discussions-list .list {
  border-radius: 3px;
  overflow: hidden;
}
.discussions-page .discussions-container .discussions-list .list .card {
  cursor: pointer;
  min-width: 700px;
  margin-bottom: 10px;
  perspective: 600px;
  transition: all 0.1s;
  background-color: silver;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 110px;
}
.discussions-page .discussions-container .discussions-list .list .card .entry {
  height: 0px;
  overflow: hidden;
  width: 200px;
  font-size: 12px;
  color: black;
  font-weight: normal;
}
.discussions-page .discussions-container .discussions-list .list .card .info {
  height: 80px;
}
.discussions-page .discussions-container .discussions-list .list .card .info .title {
  padding-top: 5px;
  font-size: 1.4rem;
}
.discussions-page .discussions-container .discussions-list .list .card .info .created-by {
  justify-content: flex-start;
  margin: 5px 0 5px 0;
  padding-top: 6px;
}
.discussions-page .discussions-container .discussions-list .list .card .info .created-by .icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.discussions-page .discussions-container .discussions-list .list .card .info .content {
  display: none;
}
.discussions-page .discussions-container .discussions-list .list .card.open {
  padding: 30px;
  height: auto;
}
.discussions-page .discussions-container .discussions-list .list .card.open .entry {
  text-align: center;
  margin: 30px 0 30px 20px;
  height: 100%;
  overflow: visible;
}
.discussions-page .discussions-container .discussions-list .list .card.open .info {
  width: 300px;
}
.discussions-page .discussions-container .discussions-list .list .card.open .info .title {
  display: none;
}
.discussions-page .discussions-container .discussions-list .list .card.open .info .created-by {
  display: none;
}
.discussions-page .discussions-container .discussions-list .list .card.open .info .content {
  letter-spacing: 1px;
  font-size: 0.9rem;
  display: block;
  word-wrap: break-word;
}
.discussions-page .discussions-container .discussions-list .list .card.open .title-img {
  transform: rotateY(50deg);
  box-shadow: -10px 10px 10px 2px rgba(0, 0, 0, 0.2), -2px 0px 0px 0px #888;
  transition: all 0.5s;
  transition-delay: 0.05s;
}
.discussions-page .discussions-container .discussions-list .list .card.open .info {
  transform: translate(0, -10px);
}
.discussions-page .discussions-container .discussions-list .list .card.open .group-name {
  display: none;
}
.discussions-page .discussions-container .discussions-list .list .card.open .trend {
  padding-bottom: 0;
}
.discussions-page .discussions-container .discussions-list .list .card button.simple {
  cursor: pointer;
  color: black;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #1ea94b;
  padding: 15px 20px;
  font-family: "Montserrat";
  font-weight: bold;
  transition: all 0.1s;
}
.discussions-page .discussions-container .discussions-list .list .card button.simple:hover {
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.3);
  transform: translate(0, -2px);
}
.discussions-page .discussions-container .discussions-list .list .card .title-img {
  transition: all 0.5s;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 110px;
  width: 120px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.discussions-page .discussions-container .discussions-list .list .card .info {
  transition: all 0.2s;
  min-width: 200px;
  padding: 0px 30px;
  font-family: "Montserrat";
  font-weight: bold;
}
.discussions-page .discussions-container .discussions-list .list .card .info .title {
  font-size: 1em;
  color: black;
  letter-spacing: 1px;
}
.discussions-page .discussions-container .discussions-list .list .card .info .creator {
  font-size: 12px;
  font-weight: normal;
  color: black;
}
.discussions-page .discussions-container .discussions-list .list .card .statistics {
  margin-left: auto;
}
.discussions-page .discussions-container .discussions-list .list .card .group-name {
  transition: all 0.1s;
  padding: 30px 20px 30px 20px;
  text-align: center;
  font-family: "Montserrat";
  color: black;
  background-color: #d9bd8a;
}

/*# sourceMappingURL=discussion-titles.css.map */
