#search-result, .profile-page .profile-container .upper-profile .info .lower-info, .profile-page .profile-container .upper-profile .info .upper-info, .profile-page .profile-container .upper-profile, .homepage .reactive-home .display-mode, .app-header .right-bar .user-bar, .app-header .right-bar, .app-header .middle-bar, .app-header, .groups-page .group-container .all-groups ul li, .groups-page .group-container header .group-controller, .discussions-page .discussions-container header .discussions-controller, .discussions-page .discussions-container header .discussions-controller .filter-buttons ul, .discussions-page .discussions-container .discussions-list ul li, .discussions-page .discussions-container .discussions-list ul li .middle-area .upper-bar, .discussions-page .discussions-container .discussions-list ul li .middle-area .lower-bar, .discussions-page .discussions-container .discussions-list ul li .right-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-page .signup-container form fieldset, .profile-page .profile-container .lower-profile, .profile-page .profile-container .upper-profile .registration, .profile-page .profile-container .upper-profile .info, .profile-page .profile-container, .homepage .reactive-home, .homepage, .groups-page .group-container .group-list ul, .groups-page .group-container header, .groups-page .group-container, .groups-page, .discussions-page, .discussions-page .discussions-container, .discussions-page .discussions-container header, .discussions-page .discussions-container .discussions-list ul, .discussions-page .discussions-container .discussions-list ul li .left-area, .discussions-page .discussions-container .discussions-list ul li .middle-area {
  display: flex;
  flex-direction: column;
}

.discussions-page .discussions-container header .discussions-controller .filter-buttons ul li {
  list-style-type: none;
  cursor: pointer;
  border: 1px solid black;
}
#search-result, .profile-page .profile-container .upper-profile .info .lower-info, .profile-page .profile-container .upper-profile .info .upper-info, .profile-page .profile-container .upper-profile, .homepage .reactive-home .display-mode, .app-header .right-bar .user-bar, .app-header .right-bar, .app-header .middle-bar, .app-header, .discussions-page .discussions-container header .discussions-controller, .discussions-page .discussions-container header .discussions-controller .filter-buttons ul, .discussions-page .discussions-container .discussions-list ul li, .discussions-page .discussions-container .discussions-list ul li .middle-area .upper-bar, .discussions-page .discussions-container .discussions-list ul li .middle-area .lower-bar, .discussions-page .discussions-container .discussions-list ul li .right-area, .groups-page .group-container header .group-controller, .groups-page .group-container .all-groups ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-page .signup-container form fieldset, .profile-page .profile-container .lower-profile, .profile-page .profile-container .upper-profile .registration, .profile-page .profile-container .upper-profile .info, .profile-page .profile-container, .homepage .reactive-home, .homepage, .discussions-page, .discussions-page .discussions-container, .discussions-page .discussions-container header, .discussions-page .discussions-container .discussions-list ul, .discussions-page .discussions-container .discussions-list ul li .left-area, .discussions-page .discussions-container .discussions-list ul li .middle-area, .groups-page, .groups-page .group-container, .groups-page .group-container header, .groups-page .group-container .group-list ul {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.groups-page .group-container .group-list ul {
  list-style-type: none;
}
.groups-page .group-container .all-groups ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#search-result, .profile-page .profile-container .upper-profile .info .lower-info, .profile-page .profile-container .upper-profile .info .upper-info, .profile-page .profile-container .upper-profile, .homepage .reactive-home .display-mode, .discussions-page .discussions-container header .discussions-controller, .discussions-page .discussions-container header .discussions-controller .filter-buttons ul, .discussions-page .discussions-container .discussions-list ul li, .discussions-page .discussions-container .discussions-list ul li .middle-area .upper-bar, .discussions-page .discussions-container .discussions-list ul li .middle-area .lower-bar, .discussions-page .discussions-container .discussions-list ul li .right-area, .groups-page .group-container header .group-controller, .groups-page .group-container .all-groups ul li, .app-header, .app-header .middle-bar, .app-header .right-bar, .app-header .right-bar .user-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-page .signup-container form fieldset, .profile-page .profile-container .lower-profile, .profile-page .profile-container .upper-profile .registration, .profile-page .profile-container .upper-profile .info, .profile-page .profile-container, .homepage .reactive-home, .homepage, .discussions-page, .discussions-page .discussions-container, .discussions-page .discussions-container header, .discussions-page .discussions-container .discussions-list ul, .discussions-page .discussions-container .discussions-list ul li .left-area, .discussions-page .discussions-container .discussions-list ul li .middle-area, .groups-page, .groups-page .group-container, .groups-page .group-container header, .groups-page .group-container .group-list ul {
  display: flex;
  flex-direction: column;
}

.app-header .middle-bar .discussions-bar {
  cursor: pointer;
}
.app-header .middle-bar #icon img {
  height: 70px;
  width: 70px;
  cursor: pointer;
}
.app-header .middle-bar .groups-bar {
  cursor: pointer;
}
#search-result, .profile-page .profile-container .upper-profile .info .lower-info, .profile-page .profile-container .upper-profile .info .upper-info, .profile-page .profile-container .upper-profile, .discussions-page .discussions-container header .discussions-controller, .discussions-page .discussions-container header .discussions-controller .filter-buttons ul, .discussions-page .discussions-container .discussions-list ul li, .discussions-page .discussions-container .discussions-list ul li .middle-area .upper-bar, .discussions-page .discussions-container .discussions-list ul li .middle-area .lower-bar, .discussions-page .discussions-container .discussions-list ul li .right-area, .groups-page .group-container header .group-controller, .groups-page .group-container .all-groups ul li, .app-header, .app-header .middle-bar, .app-header .right-bar, .app-header .right-bar .user-bar, .homepage .reactive-home .display-mode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-page .signup-container form fieldset, .profile-page .profile-container .lower-profile, .profile-page .profile-container .upper-profile .registration, .profile-page .profile-container .upper-profile .info, .profile-page .profile-container, .discussions-page, .discussions-page .discussions-container, .discussions-page .discussions-container header, .discussions-page .discussions-container .discussions-list ul, .discussions-page .discussions-container .discussions-list ul li .left-area, .discussions-page .discussions-container .discussions-list ul li .middle-area, .groups-page, .groups-page .group-container, .groups-page .group-container header, .groups-page .group-container .group-list ul, .homepage, .homepage .reactive-home {
  display: flex;
  flex-direction: column;
}

#search-result, .discussions-page .discussions-container header .discussions-controller, .discussions-page .discussions-container header .discussions-controller .filter-buttons ul, .discussions-page .discussions-container .discussions-list ul li, .discussions-page .discussions-container .discussions-list ul li .middle-area .upper-bar, .discussions-page .discussions-container .discussions-list ul li .middle-area .lower-bar, .discussions-page .discussions-container .discussions-list ul li .right-area, .groups-page .group-container header .group-controller, .groups-page .group-container .all-groups ul li, .app-header, .app-header .middle-bar, .app-header .right-bar, .app-header .right-bar .user-bar, .homepage .reactive-home .display-mode, .profile-page .profile-container .upper-profile, .profile-page .profile-container .upper-profile .info .upper-info, .profile-page .profile-container .upper-profile .info .lower-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-page .signup-container form fieldset, .discussions-page, .discussions-page .discussions-container, .discussions-page .discussions-container header, .discussions-page .discussions-container .discussions-list ul, .discussions-page .discussions-container .discussions-list ul li .left-area, .discussions-page .discussions-container .discussions-list ul li .middle-area, .groups-page, .groups-page .group-container, .groups-page .group-container header, .groups-page .group-container .group-list ul, .homepage, .homepage .reactive-home, .profile-page .profile-container, .profile-page .profile-container .upper-profile .info, .profile-page .profile-container .upper-profile .registration, .profile-page .profile-container .lower-profile {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.profile-page .profile-container .upper-profile {
  justify-content: space-around;
}
.discussions-page .discussions-container header .discussions-controller, .discussions-page .discussions-container header .discussions-controller .filter-buttons ul, .discussions-page .discussions-container .discussions-list ul li, .discussions-page .discussions-container .discussions-list ul li .middle-area .upper-bar, .discussions-page .discussions-container .discussions-list ul li .middle-area .lower-bar, .discussions-page .discussions-container .discussions-list ul li .right-area, .groups-page .group-container header .group-controller, .groups-page .group-container .all-groups ul li, .app-header, .app-header .middle-bar, .app-header .right-bar, .app-header .right-bar .user-bar, .homepage .reactive-home .display-mode, .profile-page .profile-container .upper-profile, .profile-page .profile-container .upper-profile .info .upper-info, .profile-page .profile-container .upper-profile .info .lower-info, #search-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-page .signup-container form fieldset, .discussions-page, .discussions-page .discussions-container, .discussions-page .discussions-container header, .discussions-page .discussions-container .discussions-list ul, .discussions-page .discussions-container .discussions-list ul li .left-area, .discussions-page .discussions-container .discussions-list ul li .middle-area, .groups-page, .groups-page .group-container, .groups-page .group-container header, .groups-page .group-container .group-list ul, .homepage, .homepage .reactive-home, .profile-page .profile-container, .profile-page .profile-container .upper-profile .info, .profile-page .profile-container .upper-profile .registration, .profile-page .profile-container .lower-profile {
  display: flex;
  flex-direction: column;
}

.discussions-page .discussions-container header .discussions-controller, .discussions-page .discussions-container header .discussions-controller .filter-buttons ul, .discussions-page .discussions-container .discussions-list ul li, .discussions-page .discussions-container .discussions-list ul li .middle-area .upper-bar, .discussions-page .discussions-container .discussions-list ul li .middle-area .lower-bar, .discussions-page .discussions-container .discussions-list ul li .right-area, .groups-page .group-container header .group-controller, .groups-page .group-container .all-groups ul li, .app-header, .app-header .middle-bar, .app-header .right-bar, .app-header .right-bar .user-bar, .homepage .reactive-home .display-mode, .profile-page .profile-container .upper-profile, .profile-page .profile-container .upper-profile .info .upper-info, .profile-page .profile-container .upper-profile .info .lower-info, #search-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.discussions-page, .discussions-page .discussions-container, .discussions-page .discussions-container header, .discussions-page .discussions-container .discussions-list ul, .discussions-page .discussions-container .discussions-list ul li .left-area, .discussions-page .discussions-container .discussions-list ul li .middle-area, .groups-page, .groups-page .group-container, .groups-page .group-container header, .groups-page .group-container .group-list ul, .homepage, .homepage .reactive-home, .profile-page .profile-container, .profile-page .profile-container .upper-profile .info, .profile-page .profile-container .upper-profile .registration, .profile-page .profile-container .lower-profile, .signup-page .signup-container form fieldset {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
