.profile-page .profile-container .upper-profile, .profile-page .profile-container .upper-profile .info .lower-info, .profile-page .profile-container .upper-profile .info .lower-info .groups .as-creator ul, .profile-page .profile-container .upper-profile .info .lower-info .groups .as-member ul, .profile-page .profile-container .upper-profile .info .lower-info .discussions .as-participant, .profile-page .profile-container .upper-profile .registration .change-password .change-container, .profile-page .profile-container .upper-profile .registration .delete-user .delete-container, .profile-page .profile-container .lower-profile .title-blocks ol li, .profile-page .profile-container .lower-profile .title-blocks ol li .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-page, .profile-page .profile-container, .profile-page .profile-container .upper-profile .info, .profile-page .profile-container .upper-profile .info .lower-info .groups .as-creator span, .profile-page .profile-container .upper-profile .info .lower-info .groups .as-member span, .profile-page .profile-container .upper-profile .registration .lock, .profile-page .profile-container .upper-profile .registration .change-password .change-container form, .profile-page .profile-container .upper-profile .registration .change-password .change-container form fieldset, .profile-page .profile-container .upper-profile .registration .delete-user .delete-container form, .profile-page .profile-container .upper-profile .registration .delete-user .delete-container form fieldset, .profile-page .profile-container .lower-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-page {
  height: 100%;
  padding-top: 6rem;
  margin-top: 3rem;
  background-color: white;
}
.profile-page .profile-container {
  width: 100%;
  position: relative;
}
.profile-page .profile-container .upper-profile {
  margin: 0 1rem 1rem;
  justify-content: flex-start;
  border: 1px solid black;
  padding: 40px;
}
.profile-page .profile-container .upper-profile .profile-icon {
  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4rem;
}
.profile-page .profile-container .upper-profile .profile-icon .upload {
  position: absolute;
  top: -10px;
  right: -30px;
}
.profile-page .profile-container .upper-profile .profile-icon .upload input {
  display: none;
}
.profile-page .profile-container .upper-profile .profile-icon .upload label {
  cursor: pointer;
}
.profile-page .profile-container .upper-profile .profile-icon .upload label svg {
  color: #38311d;
}
.profile-page .profile-container .upper-profile .info {
  margin-right: 2rem;
  padding-bottom: 10px;
}
.profile-page .profile-container .upper-profile .info .upper-info {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 60px minmax(70px, 1fr) 70px;
  gap: 20px;
  align-items: center;
  padding-bottom: 15px;
}
.profile-page .profile-container .upper-profile .info .upper-info h2 {
  font-size: 2rem;
}
.profile-page .profile-container .upper-profile .info .upper-info .nation {
  justify-self: start;
}
.profile-page .profile-container .upper-profile .info .lower-info {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(100px, 1fr) 60px;
  position: relative;
  width: 100%;
}
.profile-page .profile-container .upper-profile .info .lower-info .groups .as-creator {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 80px minmax(90px, 1fr) 40px;
  align-items: center;
  margin-bottom: 10px;
}
.profile-page .profile-container .upper-profile .info .lower-info .groups .as-creator h5 {
  font-size: 1.3rem;
}
.profile-page .profile-container .upper-profile .info .lower-info .groups .as-creator ul {
  justify-content: flex-start;
}
.profile-page .profile-container .upper-profile .info .lower-info .groups .as-creator ul li {
  margin-right: 5px;
  list-style: none;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-page .profile-container .upper-profile .info .lower-info .groups .as-creator span {
  font-size: 0.7rem;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  color: black;
  margin-left: 5px;
}
.profile-page .profile-container .upper-profile .info .lower-info .groups .as-member {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 80px minmax(90px, 1fr) 40px;
  align-items: center;
}
.profile-page .profile-container .upper-profile .info .lower-info .groups .as-member h5 {
  font-size: 1.3rem;
}
.profile-page .profile-container .upper-profile .info .lower-info .groups .as-member ul {
  justify-content: flex-start;
}
.profile-page .profile-container .upper-profile .info .lower-info .groups .as-member ul li {
  margin-right: 5px;
  list-style: none;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-page .profile-container .upper-profile .info .lower-info .groups .as-member span {
  font-size: 0.8rem;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  color: black;
  margin-left: 5px;
}
.profile-page .profile-container .upper-profile .info .lower-info .discussions {
  padding-left: 20px;
  position: absolute;
  top: -10px;
  right: -50px;
  font-size: 1.6rem;
  color: #3b382c;
}
.profile-page .profile-container .upper-profile .info .lower-info .discussions .as-participant p {
  padding-left: 5px;
}
.profile-page .profile-container .upper-profile .registration {
  display: grid;
  grid-template-columns: minmax(100px, 200px);
  grid-template-rows: 60px 60px;
  margin-bottom: 10px;
  margin-left: 60px;
  justify-content: space-between;
  align-items: initial;
  height: 100px;
}
.profile-page .profile-container .upper-profile .registration .change-password .change-container {
  height: 100%;
}
.profile-page .profile-container .upper-profile .registration .change-password .change-container .toggle-show {
  width: 38px;
  height: 38px;
  border: 2px solid black;
  cursor: pointer;
}
.profile-page .profile-container .upper-profile .registration .change-password .change-container .hidden {
  display: none;
}
.profile-page .profile-container .upper-profile .registration .change-password .change-container form {
  margin: 40px 0 0 30px;
}
.profile-page .profile-container .upper-profile .registration .change-password .change-container form .hidden {
  display: none;
}
.profile-page .profile-container .upper-profile .registration .change-password .change-container form fieldset {
  border: none;
  padding: 0;
  margin: 8px 0;
  position: relative;
  width: 100%;
}
.profile-page .profile-container .upper-profile .registration .change-password .change-container form fieldset legend {
  padding-left: 7px;
  font-size: 0.8rem;
}
.profile-page .profile-container .upper-profile .registration .change-password .change-container form fieldset input {
  width: 100%;
  height: 18px;
  color: #333333;
  padding: 5px 0 5px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  vertical-align: top;
}
.profile-page .profile-container .upper-profile .registration .change-password .change-container form fieldset button {
  font-size: 0.8rem;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  padding: 5px 5px;
  border-radius: 5px;
}
.profile-page .profile-container .upper-profile .registration .delete-user .delete-container {
  height: 100%;
}
.profile-page .profile-container .upper-profile .registration .delete-user .delete-container .toggle-show {
  position: relative;
  width: 38px;
  height: 38px;
  border: 2px solid black;
  cursor: pointer;
}
.profile-page .profile-container .upper-profile .registration .delete-user .delete-container .toggle-show svg {
  position: absolute;
  bottom: 0;
  right: 1px;
  width: 30px;
  height: 30px;
}
.profile-page .profile-container .upper-profile .registration .delete-user .delete-container .hidden {
  display: none;
}
.profile-page .profile-container .upper-profile .registration .delete-user .delete-container form {
  margin: 0 0 0 30px;
}
.profile-page .profile-container .upper-profile .registration .delete-user .delete-container form .hidden {
  display: none;
}
.profile-page .profile-container .upper-profile .registration .delete-user .delete-container form fieldset {
  border: none;
  padding: 0;
  margin: 8px 0;
  position: relative;
  width: 100%;
}
.profile-page .profile-container .upper-profile .registration .delete-user .delete-container form fieldset legend {
  padding-left: 7px;
  font-size: 0.8rem;
}
.profile-page .profile-container .upper-profile .registration .delete-user .delete-container form fieldset input {
  width: 100%;
  height: 18px;
  color: #333333;
  padding: 5px 0 5px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  vertical-align: top;
}
.profile-page .profile-container .upper-profile .registration .delete-user .delete-container form fieldset button {
  font-size: 0.8rem;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  padding: 5px 5px;
  border-radius: 5px;
}
.profile-page .profile-container .lower-profile ol.gradient-list > li::before, .profile-page .profile-container .lower-profile ol.gradient-list > li {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}
.profile-page .profile-container .lower-profile *,
.profile-page .profile-container .lower-profile *:before,
.profile-page .profile-container .lower-profile *:after {
  box-sizing: border-box;
}
.profile-page .profile-container .lower-profile ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}
.profile-page .profile-container .lower-profile ol.gradient-list > li {
  background: white;
  counter-increment: gradient-counter;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}
.profile-page .profile-container .lower-profile ol.gradient-list > li::before, .profile-page .profile-container .lower-profile ol.gradient-list > li::after {
  background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 3rem;
}
.profile-page .profile-container .lower-profile ol.gradient-list > li::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #1d1f20;
  display: flex;
  font: 900 1.5em/1 "Montserrat";
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}
.profile-page .profile-container .lower-profile ol.gradient-list > li:nth-child(10n+1):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}
.profile-page .profile-container .lower-profile ol.gradient-list > li:nth-child(10n+2):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}
.profile-page .profile-container .lower-profile ol.gradient-list > li:nth-child(10n+3):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}
.profile-page .profile-container .lower-profile ol.gradient-list > li:nth-child(10n+4):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}
.profile-page .profile-container .lower-profile ol.gradient-list > li:nth-child(10n+5):before {
  background: linear-gradient(135deg, #a2ed56 0%, #fddc32 100%);
}
.profile-page .profile-container .lower-profile ol.gradient-list > li:nth-child(10n+6):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}
.profile-page .profile-container .lower-profile ol.gradient-list > li:nth-child(10n+7):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}
.profile-page .profile-container .lower-profile ol.gradient-list > li:nth-child(10n+8):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}
.profile-page .profile-container .lower-profile ol.gradient-list > li:nth-child(10n+9):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}
.profile-page .profile-container .lower-profile ol.gradient-list > li:nth-child(10n+10):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0) 0%, rgba(253, 220, 50, 0) 100%);
}
.profile-page .profile-container .lower-profile ol.gradient-list > li + li {
  margin-top: 2rem;
}
.profile-page .profile-container .lower-profile .title-blocks ol li {
  font-family: "Raleway", sans-serif;
}
.profile-page .profile-container .lower-profile .title-blocks ol li .title .img {
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-page .profile-container .lower-profile .title-blocks ol li .title > h1 {
  margin-left: 15px;
  margin-right: 10px;
}
.profile-page .profile-container .lower-profile .title-blocks ol li .entry button {
  border: none;
  cursor: pointer;
}
.profile-page .profile-container .lower-profile .title-blocks ol li .entry .fa-door-closed {
  display: block;
}
.profile-page .profile-container .lower-profile .title-blocks ol li .entry .fa-door-open {
  display: none;
}
.profile-page .profile-container .lower-profile .title-blocks ol li .entry:hover .fa-door-closed {
  display: none;
}
.profile-page .profile-container .lower-profile .title-blocks ol li .entry:hover .fa-door-open {
  display: block;
}

/*# sourceMappingURL=profile.css.map */
