.signup-page .signup-container, .signup-page .signup-container .signup-classic form .info, .signup-page .signup-container .signup-classic form .info .gender, .signup-page .signup-container .signup-classic form .buttons, .login-page .login-container, .login-page .login-container .action form fieldset, .login-page .login-container .action form .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signup-page, .signup-page .signup-container .signup-connect, .signup-page .signup-container .signup-classic form, .signup-page .signup-container .signup-classic form .recaptcha, .login-page, .login-page .login-container .instruction, .login-page .login-container .action form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display: block;
  background: #edeb7d;
  color: white;
  text-decoration: none;
  margin: 20px 0;
  padding: 20px 15px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.btn::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.btn:hover::after {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
}

.btn-social {
  padding-left: 64px;
  position: relative;
  z-index: 1;
}
.btn-social .fa {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  line-height: 3.2;
  border-radius: 5px 0 0 5px;
}

.facebook-share-btn {
  background-color: #3b5897;
}

.twitter-share-btn {
  background-color: #53abee;
}

.pinterest-share-btn {
  background-color: #de4e3b;
}

.linkedin-share-btn {
  background-color: #00a1db;
}

.signup-page {
  height: 100%;
  padding-top: 8rem;
}
.signup-page .page-loader {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.signup-page .signup-container {
  justify-content: center;
  align-items: flex-start;
  width: 800px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.5);
}
.signup-page .signup-container .signup-connect {
  align-items: flex-start;
  background: linear-gradient(134deg, #fbce50, #e08106);
  color: white;
  padding: 30px 30px;
  margin: 30px 40px 30px 0;
}
.signup-page .signup-container .signup-connect button {
  min-width: 250px;
}
.signup-page .signup-container .signup-classic {
  margin: 20px 0 5px 0;
}
.signup-page .signup-container .signup-classic form fieldset {
  border: none;
  padding: 0;
  margin: 8px 0;
  position: relative;
  width: 100%;
}
.signup-page .signup-container .signup-classic form fieldset input {
  width: 100%;
  height: 28px;
  color: #333333;
  padding: 5px 5px 5px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  vertical-align: top;
}
.signup-page .signup-container .signup-classic form fieldset label {
  padding: 1px 0 10px 10px;
}
.signup-page .signup-container .signup-classic form fieldset .materials {
  position: absolute;
  right: -15px;
  bottom: 8px;
}
.signup-page .signup-container .signup-classic form legend {
  font-size: 1.7rem;
  padding-bottom: 0.3rem;
}
.signup-page .signup-container .signup-classic form .name {
  font-size: 1.1rem;
}
.signup-page .signup-container .signup-classic form .password {
  font-size: 1.1rem;
}
.signup-page .signup-container .signup-classic form .password #toggle-visibility {
  cursor: pointer;
}
.signup-page .signup-container .signup-classic form .info {
  justify-content: space-around;
  font-size: 1.1rem;
  margin-left: 30px;
}
.signup-page .signup-container .signup-classic form .info .gender label {
  padding: 0;
}
.signup-page .signup-container .signup-classic form .info .gender input {
  width: 15px;
  height: 15px;
  margin-right: 14px;
}
.signup-page .signup-container .signup-classic form .info .all-nations {
  margin-left: 5px;
}
.signup-page .signup-container .signup-classic form .info .all-nations select {
  height: 30px;
  border: 1px outset rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  outline: none;
  appearance: none;
  text-align: center;
}
.signup-page .signup-container .signup-classic form .recaptcha {
  width: 100%;
}
.signup-page .signup-container .signup-classic form .buttons {
  justify-content: space-around;
}
.signup-page .signup-container .signup-classic form .buttons button {
  font-size: 1rem;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  padding: 10px 10px;
  border-radius: 5px;
}
.signup-page .signup-container .signup-classic form .buttons .reset-button {
  background-color: #3c3636;
  color: white;
  cursor: pointer;
}
.signup-page .signup-container .signup-classic form .buttons .submit-button {
  background-color: white;
  color: #3c3636;
  cursor: pointer;
}
.signup-page .signup-container .signup-classic form .buttons .submit-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.login-page {
  height: 100%;
  padding-top: 10rem;
}
.login-page .page-loader {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.login-page .login-container {
  width: 800px;
}
.login-page .login-container .instruction {
  height: 100%;
  width: 40%;
}
.login-page .login-container .instruction h1 {
  font-size: 4rem;
  font-weight: 900;
  margin: 50px 40px 60px;
}
.login-page .login-container .instruction p {
  width: 60%;
  color: #999;
  font-size: 0.7rem;
  line-height: 1.5;
  margin: 30px;
}
.login-page .login-container .action form fieldset {
  border: none;
  padding: 0;
  margin: 8px 0;
  position: relative;
  width: 100%;
}
.login-page .login-container .action form fieldset input {
  width: 100%;
  height: 28px;
  color: #333333;
  padding: 5px 5px 5px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  vertical-align: top;
}
.login-page .login-container .action form fieldset label {
  padding: 10px 20px 0 0;
}
.login-page .login-container .action form .password label {
  padding-right: 25px;
}
.login-page .login-container .action form .recaptcha {
  padding-left: 30px;
}
.login-page .login-container .action form .buttons {
  justify-content: space-around;
}
.login-page .login-container .action form .buttons button {
  font-size: 1rem;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  padding: 10px 10px;
  border-radius: 5px;
}
.login-page .login-container .action form .buttons .reset-button {
  background-color: #3c3636;
  color: white;
  cursor: pointer;
}
.login-page .login-container .action form .buttons .submit-button {
  background-color: white;
  color: #3c3636;
  cursor: pointer;
}
.login-page .login-container .action form .buttons .submit-button:disabled {
  opacity: 0.5;
  cursor: default;
}

@media (max-width: 850px) {
  .btn {
    margin: 10px 0;
    padding: 10px 5px;
  }

  .signup-page {
    padding-top: 4rem;
  }
  .signup-page .signup-container {
    width: 600px;
  }
  .signup-page .signup-container .signup-connect {
    padding: 35px 20px;
    margin: 10px;
  }
  .signup-page .signup-container .signup-connect button {
    min-width: 200px;
  }
  .signup-page .signup-container .signup-connect button a {
    font-size: 0.6rem;
  }
  .signup-page .signup-container .signup-connect button a svg {
    width: 30px;
  }
  .signup-page .signup-container .signup-classic {
    margin: 10px 0 5px 10px;
  }
  .signup-page .signup-container .signup-classic form fieldset {
    margin: 4px 0;
  }
  .signup-page .signup-container .signup-classic form fieldset input {
    width: 80%;
    height: 18px;
    font-size: 8px;
  }
  .signup-page .signup-container .signup-classic form fieldset .materials {
    right: 50px;
    bottom: 3px;
  }
  .signup-page .signup-container .signup-classic form legend {
    font-size: 1.2rem;
  }
  .signup-page .signup-container .signup-classic form .name {
    font-size: 0.8rem;
    padding-left: 25px;
  }
  .signup-page .signup-container .signup-classic form .password {
    font-size: 0.8rem;
    padding-left: 25px;
  }
  .signup-page .signup-container .signup-classic form .info {
    margin-left: 10px;
  }
  .signup-page .signup-container .signup-classic form .info .gender label {
    font-size: 0.8rem;
  }
  .signup-page .signup-container .signup-classic form .info .gender input {
    width: 8px;
    height: 8px;
    margin-right: 10px;
  }
  .signup-page .signup-container .signup-classic form .info .all-nations {
    margin-left: 0px;
    margin-right: 30px;
  }
  .signup-page .signup-container .signup-classic form .info .all-nations select {
    font-size: 0.6rem;
    height: 20px;
  }
  .signup-page .signup-container .signup-classic form .recaptcha {
    transform: scale(0.8);
  }
  .signup-page .signup-container .signup-classic form .buttons {
    padding-right: 30px;
  }
  .signup-page .signup-container .signup-classic form .buttons button {
    font-size: 0.7rem;
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
  }

  .login-page {
    padding-top: 3rem;
  }
  .login-page .login-container {
    width: 650px;
  }
  .login-page .login-container .instruction {
    margin-right: 30px;
  }
  .login-page .login-container .instruction h1 {
    font-size: 3rem;
    margin: 20px 10px 30px;
  }
  .login-page .login-container .instruction p {
    font-size: 0.5rem;
  }
  .login-page .login-container .action form fieldset {
    margin: 4px 0;
  }
  .login-page .login-container .action form fieldset label {
    padding: 10px 5px 0 0;
  }
  .login-page .login-container .action form fieldset input {
    width: 60%;
    height: 18px;
    font-size: 8px;
  }
  .login-page .login-container .action form .name {
    font-size: 0.8rem;
    padding-left: 25px;
  }
  .login-page .login-container .action form .password {
    font-size: 0.8rem;
    padding-left: 25px;
  }
  .login-page .login-container .action form .password label {
    padding-right: 10px;
  }
  .login-page .login-container .action form .recaptcha {
    transform: scale(0.8);
  }
  .login-page .login-container .action form .buttons button {
    font-size: 0.7rem;
    margin: 0;
    padding: 5px;
  }
}
@media (max-width: 600px) {
  .btn {
    margin: 10px 0;
    padding: 5px 5px;
  }

  .signup-page {
    padding-top: 0rem;
    width: 100%;
  }
  .signup-page .signup-container {
    width: 300px;
    height: 330px;
    position: relative;
    margin-top: 20px;
  }
  .signup-page .signup-container .signup-connect {
    background: linear-gradient(134deg, #fbce50, #e08106);
    padding: 30px 10px 20px 10px;
    margin: 0px;
    border-radius: 10px 0 0 10px;
    height: 330px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
  }
  .signup-page .signup-container .signup-connect button {
    min-width: 30px;
    margin-bottom: 20px;
  }
  .signup-page .signup-container .signup-connect button a {
    height: 20px;
    font-size: 0.6rem;
    color: white;
    position: relative;
  }
  .signup-page .signup-container .signup-connect button a svg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
  }
  .signup-page .signup-container .signup-connect button a span {
    display: none;
  }
  .signup-page .signup-container .signup-classic {
    margin: 10px 0 0 0;
    position: absolute;
    right: -15px;
  }
  .signup-page .signup-container .signup-classic form {
    width: 260px;
  }
  .signup-page .signup-container .signup-classic form fieldset {
    margin: 4px 0;
  }
  .signup-page .signup-container .signup-classic form fieldset input {
    width: 180px;
    padding: 3px 0px 3px 10px;
    margin-top: 0;
    height: 18px;
    font-size: 7.7px;
  }
  .signup-page .signup-container .signup-classic form fieldset .materials {
    font-size: 1.3rem;
    right: 70px;
    bottom: 12px;
  }
  .signup-page .signup-container .signup-classic form legend {
    font-size: 1rem;
  }
  .signup-page .signup-container .signup-classic form .name {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    padding-left: 25px;
  }
  .signup-page .signup-container .signup-classic form .password {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    padding-left: 25px;
  }
  .signup-page .signup-container .signup-classic form .info {
    margin: 4px 0 0 25px;
  }
  .signup-page .signup-container .signup-classic form .info .gender label {
    padding-bottom: 4px;
    font-size: 0.7rem;
    margin-right: 5px;
  }
  .signup-page .signup-container .signup-classic form .info .gender input {
    padding: 3px 0px 3px 5px;
    width: 8px;
    height: 8px;
    margin-right: 10px;
  }
  .signup-page .signup-container .signup-classic form .info .all-nations {
    margin-left: 0px;
    margin-right: 56px;
  }
  .signup-page .signup-container .signup-classic form .info .all-nations select {
    font-size: 0.4rem;
    height: 20px;
  }
  .signup-page .signup-container .signup-classic form .recaptcha {
    margin: 0 20px 4px 0;
    transform: scale(0.5);
  }
  .signup-page .signup-container .signup-classic form .buttons {
    padding-right: 30px;
  }
  .signup-page .signup-container .signup-classic form .buttons button {
    font-size: 0.8rem;
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
  }

  .login-page {
    padding-top: 0rem;
  }
  .login-page .login-container {
    width: 300px;
    flex-direction: column;
  }
  .login-page .login-container .instruction {
    margin-right: 0px;
    flex-direction: row;
    width: 100%;
  }
  .login-page .login-container .instruction h1 {
    font-size: 45px;
    margin: 20px 10px 30px;
  }
  .login-page .login-container .instruction p {
    width: 100%;
    font-size: 8px;
    margin: 50px 10px 20px 40px;
  }
  .login-page .login-container .action form fieldset {
    margin: 4px 0;
  }
  .login-page .login-container .action form fieldset label {
    font-size: 10px;
    padding: 10px 5px 0 20px;
  }
  .login-page .login-container .action form fieldset input {
    width: 50%;
    height: 18px;
    font-size: 9px;
    padding: 3px 0px 3px 15px;
  }
  .login-page .login-container .action form .name {
    font-size: 0.9rem;
    padding-left: 0px;
    justify-content: space-around;
  }
  .login-page .login-container .action form .password {
    justify-content: space-around;
    font-size: 0.9rem;
    padding-left: 0px;
  }
  .login-page .login-container .action form .password label {
    padding-right: 10px;
  }
  .login-page .login-container .action form .recaptcha {
    transform: scale(0.5);
  }
  .login-page .login-container .action form .buttons button {
    font-size: 0.8rem;
    margin: 0;
    padding: 5px;
  }
}

/*# sourceMappingURL=user.css.map */
